template(name="deleteConfirmationModal")
  .modal.fade(id="#{objNameToDelete}-delete-modal" role="dialog")
    .modal-dialog
      .modal-content
        form#delete-obj
          +modalCloseButton
          .modal-header
            .modal-header--title
              h4 Confirm Delete
          .modal-body.clearfix
            +deleteConfirmationModalBody data
