template(name="deleteConfirmationModalBody")
  .delete-confirmation
    i.fa.fa-trash-o(aria-hidden="true")
    p Are you sure you want to delete this #{objNameToDelete}?
    p=displayName
    .main-action
      button.confirm-deletion.btn.btn-danger.btn-wide(type="button") Delete #{objNameToDelete}
    .other-actions
      if allowEdit
        button.btn.btn-default.btn-sm.back-to-editing(type="button") Edit Event
      button.cancel.btn.btn-default.btn-sm(type="button" data-dismiss="modal") Cancel
