template(name="smartEvent")
  .event
    section.event--basic-info.container-fluid-padded
      if deleted
        h2
          | This event has been deleted
      else
        with smartEvent
          +smartEventSummary
