#add-incident
  .tab-content
    clear both
    @extend .modal-block
    border-top 0
  input
    &[type=number]
      max-width 200px

  .form-group
    &:not(.incident--dates)
      margin-right -20px
      margin-left -20px
      padding 5px 20px
      margin-bottom 10px
    &.incident--dates
      margin-right -35px
      margin-left -35px
      margin-top 20px
      margin-bottom 15px
    &.check-buttons
      &.has-error
        background lighten($danger, 95%)
        border-top 1px solid lighten($danger, 70%)
        border-bottom 1px solid lighten($danger, 70%)

.other-metadata
  ul
    margin-right 1em
    padding-right 1em
    border-right 1px solid $border-primary
    &:last-of-type
      border 0

.incident--dates
  margin-left -35px
  margin-right -35px
  padding 0 15px
  .tabs
    margin 0
    width 100%
    padding 0 20px
    justify-content center
    +above(2)
      justify-content flex-start
    > li
      flex 1
      white-space nowrap
      background white
      margin-right .25em
      +above(2)
        flex 0
      &:first-of-type
        border-top-left-radius 4px
      &:last-of-type
        border-top-right-radius 4px
        margin-right 0
      > a
        text-transform capitalize
        padding-left 2em
        padding-right 2em
        font-weight 600
        padding-top 1.2em
        padding-bottom 1.2em
        +above(2)
          padding-top .75em
          padding-bottom .75em
      &.active
        background $block-BG
        border-color $border-primary
        margin-bottom -1px
        > a
          color $primary
