@import 'incidentForm.import'

.annotation-text
  padding-left .2em
  padding-right .2em
  border-radius 2px
  text-decoration none
  for $type, $color in $incident-type-colors
    &.{$type}
      background-color $color

.annotation
  cursor pointer
  background-color: $incident-type-colors.case
  &.uncertain
    background-color transparent
    text-decoration underline
  &:hover
    background-color darken(@background-color, 30%)
    color white
  &.accepted
    background-color: $incident-type-colors.date
    text-decoration none
    &:hover
      background-color darken(@background-color, 50%)

.suggested-incidents
  margin 30px
  width calc(100% - 60px)
  +above(3)
    width 65%
    max-width 800px
    margin 30px auto
  .modal-content
  .modal-header
  .modal-body
    padding 0
    gradientTopAndBottom()
    width 100%
  .modal-footer
    margin-top auto

  .annotation-count
    display block
    color $primary
    font-size 1em
    text-decoration none
    margin-top .5em

  .btn[data-dismiss]
    display none
    +above(3)
      display inline-block

.suggested-incidents-wrapper
  padding 25px 10px 25px 10px
  width 100%
  height calc(100vh - 236px)
  min-height 250px
  overflow-y scroll

.annotated-content
  white-space pre-wrap

.snippet
  gradientBottom(20px, $block-BG)
  position relative
  display flex
  flex-direction column
  margin-left -20px
  margin-right -20px
  margin-top -11px
  margin-bottom 1em
  &.modal-block
    padding 0
    label
      display flex
      border-top 0
  label
    padding 10px 20px
    border-bottom 1px solid darken($border-primary-light, 5%)
    margin-top 0
    h5
      margin 0

.snippet--text
  flex 1
  padding 20px
  max-height 250px
  overflow-y scroll
  position relative

.warn
  background-color yellow

.incident-table
  tr
    border-bottom 1px solid gray
  td
  th
    padding 5px
  .count-header
    width 50px
  .locations-header
    width 300px
  .count
    color blue
    text-decoration underline
    cursor pointer

.submit-page
  margin-top 30px

.submit-text
  min-height 400px
  @media (max-height:700px)
    min-height 210px
