#add-incident
  input
    &[type=number]
      max-width 200px

.other-metadata
  ul
    margin-right 1em
    padding-right 1em
    border-right 1px solid $border-primary
    &:last-of-type
      border 0
