@import 'incidentForm.import'

viewingBG()
  transition background-color .5s ease-in-out
  background-color $highlight-yellow

.annotation-text
  padding-left .2em
  padding-right .2em
  border-radius 2px
  text-decoration none
  for $type, $color in $incident-type-colors
    &.{$type}
      background-color $color

.annotation
  cursor pointer
  background-color: $incident-type-colors.case
  &.viewing
    viewingBG()
  &:hover
    background-color darken(@background-color, 30%)
    color white
  &.uncertain
    background-color transparent
    text-decoration underline
    &.viewing
      viewingBG()
    &:hover
      background-color: darken($incident-type-colors.uncertain, 5%)
      color $body-text
      text-decoration none
  &.accepted
    background-color: $incident-type-colors.date
    text-decoration none
    &.viewing
      viewingBG()
    &:hover
      background-color darken(@background-color, 50%)
.suggested-incidents
  margin 30px
  width calc(100% - 60px)
  +above(3)
    width 65%
    max-width 800px
  .modal-content
    display flex
    flex-direction column
    height calc(100vh - 60px)
    min-height 400px
  .modal-body
    flex 1 1 auto
    padding 0
  .modal-header
  .modal-footer
    flex 0 0 auto
  .annotation-count
    display block
    color $primary
    font-size 1em
    text-decoration none
    margin-top .5em

  .btn[data-dismiss]
    display none
    +above(3)
      display inline-block

  .tabs
    margin-bottom -1px

.suggested-incidents-wrapper
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  padding 25px
  overflow-y scroll

.annotated-content
  white-space pre-wrap

.snippet
  gradientBottom(20px, $block-BG)
  position relative
  display flex
  flex-direction column
  margin-left -20px
  margin-right -20px
  margin-top -11px
  margin-bottom 1em
  &.modal-block
    padding 0
    label
      display flex
      border-top 0
  label
    padding 10px 20px
    border-bottom 1px solid darken($border-primary-light, 5%)
    margin-top 0
    h5
      margin 0

.snippet--text
  flex 1
  padding 20px
  max-height 250px
  overflow-y scroll
  position relative

.no-incident-reports
  position absolute
  top -1px
  left 0
  right 0
  padding 1em 25px
  background-color alpha(lighten($warning, 20%), 90%)
  color $primary-dark
  z-index $mid-layer
  font-weight 600

.curator-source-details--actions
.incident-reports--actions
  padding .5em 1em
  min-height 50px
  border-bottom 1px solid $border-primary-light
  +at(1)
    flex-direction column

  button
    margin-right .5em
    &:last-of-type
      margin-right 0
    +at(1)
      margin 0 0 1em 0
      padding-top .75em
      padding-bottom .75em
  .on-left
  .select
    margin-left auto
    +at(1)
      margin 0 0 1em 0

.curator-inbox--add-event-container
  justify-content center
  padding 1em
  border-top 1px solid $border-primary-light
  border-bottom 1px solid $border-primary-light
  button
    margin-left 1em
  .select2-container
    max-width 50%

.incident-table
  > tbody
    > tr
      border-bottom 1px solid $border-primary-light
      &:hover
      &:active
        background lighten($border-primary-light, 20%)
        > td
          background none
  td
  th
    padding 5px
  .count-header
    width 50px
  .locations-header
    width 300px
  .count
    color blue
    text-decoration underline
    cursor pointer
  .select
    font-size 1.25em
    padding .25em
    color lighten($m-gray, 10%)
    display block
    &::before
      icon()
      content '\f1db' // fa-circle-thin
    &:hover
      cursor pointer
      &::before
        content '\f111' // fa-circle
    &.selected
      color $highlight
      &::before
        content '\f111' // fa-circle

.extract-incidents-table
  margin -25px

.submit-page
  margin-top 30px

.submit-text
  min-height 400px
  @media (max-height:700px)
    min-height 210px
