.incident-report--details
  flex-direction column
  +above(2)
    flex-direction row

.incident-report--details--important
.incident-report--details--metadata
  align-self center
  margin-right 1.75em

.incident-report--details--important
  display flex
  flex-direction column
  padding-top 1em
  padding-bottom 1em
  flex-direction row
  align-items center
  margin-right 0
  margin-bottom .5em
  +above(2)
    flex-direction column
    margin-right 1.75em
  div
    text-align center
    margin-right 2em
    +above(2)
      margin-bottom 1.75em
      margin-right 0
    &:last-of-type
      margin-bottom 0
  h6
    text-transform uppercase
    margin .25em 0 0 0
  .fa
    padding-bottom .1em
    font-size 2.5em

.incident-report--details--metadata
  margin-left 0
  margin-right 0
  align-self flex-start
  +above(2)
    margin-right 3em
  &.bordered
    +above(2)
      padding-left 1.75em
      border-left 1px solid lighten($border-primary, 40%)
  ul
    &:last-of-type
      margin-bottom 0

.incident-report--details--actions
  flex-direction row
  margin-left 0
  justify-content center
  margin-top 2em
  +above(2)
    margin-left auto
    margin-top 0
    flex-direction column
  a
    font-size 1.75em
    color lighten($m-gray, 20%)
    margin-right .5em
    +above(2)
      font-size 1.5em
    &:hover
      color $primary
    &:first-of-type
      margin-right 1em
      margin-top .07em
      +above(2)
        margin-right .07em
    &:last-of-type
      &:hover
        color $delete

.incident-report--details--counts
  .incident-count
    font-size 2.5em
    font-weight 800
    line-height 1
    color $m-gray

.incident-report--details--status
  .confirmed
    color $positive
    &:before
      content '\f058'
  .suspected
    color $warning
    &:before
      content '\f059'
  .revoked
    color $delete
    &:before
      content '\f05c'

.incident-report--details--travel-related
  .fa
    color $delete
