.location-details
  align-items center
  padding-right 1.5em
  .info
    padding-right 1.5em
    border-right 1px solid $border-primary-light
    a
      font-size 2em
      color $m-gray
      &:hover
        color $primary
  ul
    flex 1
    padding-left 1.5em
    padding-right 1em
    a
      color $primary
      &:hover
        color $secondary-dark

  .date-added
    align-self flex-start
    font-size .8em
    margin-left auto
