form
  label
    margin-bottom .25em

.input-wrapper
  position relative

input
.form-control
  border-color $border-primary
  box-shadow none
  &.icon-right
    padding-right 2em
  &:focus
    outline 0
    box-shadow none
    border-color $primary !important

.form-group
  margin-bottom 1.75em
  label
    margin-bottom .5em
    text-transform capitalize
    color $primary

.search-icon
  position absolute
  top 50%
  transform translate(0, -50%)
  color $border-primary
  &.right
    right 10px
    left auto

.with-icon
  position relative
  &::after
    content '\f002'
    position absolute
    right 1em
    top 50%
    padding-left .2em
    transform translate(0, -50%)
    z-index 10
    font-family FontAwesome
    color $m-gray
    cursor default

.no-addon
  .input-group-addon
    display none
