form
  label
    margin-bottom .25em

.input-wrapper
  position relative

.input-group
  &.with-select
    position relative
    select
      appearance none
    &::after
      display block
      position absolute
      right .5em
      top 50%
      transform translate(0, -50%)
      z-index 10
      content '\f107'
      font(FontAwesome)

input
.form-control
  border-color $border-primary
  box-shadow none
  &.icon-right
    padding-right 2em
  &:focus
    outline 0
    box-shadow none
    border-color $primary !important

.form-group
  margin-bottom 1.75em
  label
    margin-bottom .5em
    color $d-gray
