form
  label
    margin-bottom .25em

.input-wrapper
  position relative

.input-group
  &.with-select
    position relative
    select
      appearance none
    &::after
      display block
      position absolute
      right .5em
      top 50%
      transform translate(0, -50%)
      z-index 10
      content '\f107' // fa-angle-down
      font(FontAwesome)

input
.form-control
  border-color $border-primary
  box-shadow none
  &.icon-right
    padding-right 2em
  &:focus
    noBootstrapFocus()
    border-color $primary !important

.form-group
  margin-bottom 1.75em
  border-top 1px solid transparent
  border-bottom 1px solid transparent
  label
    margin-bottom .5em
    color $d-gray

.form-group--child
  margin-left 1em

.form-group--full
  margin-right -20px
  margin-left -20px
  padding 5px 20px
  margin-bottom 10px

.form-groups
  margin-right -20px
  margin-left -20px
  padding-left 20px
  padding-right 20px
  border-top 1px solid transparent
  border-bottom 1px solid transparent
  .form-group
    margin-bottom .5em
    &:first-of-type
      margin-bottom 0

.form-groups--highlighted
  margin-bottom 15px
  padding-bottom 10px
  background $block-BG
  border-color $border-primary
