$warning-bg = lighten($warning, 90%)
$warning-border = darken($warning-bg, 12%)


.suggested-block
  content '\f0d0' // fa-magic | magic wand with pixie dust
  position absolute
  right .5em
  top .5em
  font(FontAwesome)
  color darken($warning-bg, 40%)

.suggested
  position relative
  &:not(.full-width)
    autofillBG()
  .tabs
    li.active
      autofillBG(false)
  &.full-width
    .tabs.tabs-secondary
      border-bottom-color $warning-border
      li.active
        a
          border-color $warning-border
          background $warning-bg
    .tab-content
      background $warning-bg !important
      border-bottom-color $warning-border !important
  .form-control:last-of-type
  .select2-container--default
    margin-bottom .5em

  &:not(.with-tabs)
    &::after
      @extend .suggested-block
  &.with-tabs
    .tab-content
      position relative
      &:after
        @extend .suggested-block

.suggested-incidents
  .flex-reverse
    +below(3)
      flex-direction column

.suggested-minimal
  .input-group-addon
  input
  select
    background $warning-bg
    border-color darken($warning-border, 10%) !important // Overide bootstrap
    color $primary-dark

#suggestedIncidentModal
  +above(4)
    .modal-dialog
      width calc(100% - 150px)
    .modal-header
      border-color $border-primary-m
    .modal-body
      padding 0
      display flex
    .annotated-content
    #add-incident
      flex 1 1 50%
      max-width 50%
    #add-incident
      padding 0 20px
    .annotated-content
      margin 0
      border 0
      border-right 1px solid $border-primary-m
    .snippet--text
      max-height none
