.color-legend
  margin-left auto
  margin-bottom 0
  li
    margin-right 1em
    align-items center
    justify-content flex-end
    display flex
    font-size .9em
    text-transform capitalize
    &::before
      border-radius 100%
      content ''
      margin-right .35em
      width 1.75em
      height 1.75em
      display block
  &.with-tabs
    margin-left auto
    margin-bottom 0
    +below(3)
      margin-left 25px
      margin-bottom 1.5em
  &.on-left
    margin-left 25px
    margin-bottom 1em

for $type, $color in $incident-type-colors
  &.color-legend--{$type}
    &::before
      background $color
      border 2px solid white
