.curator-heading
  color $primary
  font-weight 400
  margin 30px 0 0
  font-size 32px
  line-height 0.5
  +above(4)
    padding-left 40px

.curator-inbox-header
  background $primary
  padding 10px 15px
  min-height 54px
  display flex
  align-items center
  h2
    color $ll-gray
    margin 0
    font-size 1.75em
    font-weight 600

.toggle-source-content
  font-size 1.5em
  color lighten($primary, 95%)
  cursor pointer
  padding .15em
  &:hover
    color darken(@color, 10%)
  &.active
    color $positive

.curator-inbox-sources
  .curator-inbox-header
  .curator-inbox-section-head
    +above(4)
      padding-left 55px

.curator-inbox-options
  position relative
  color $primary-light
  display flex
  margin-left auto
  input
    padding 5px 5px 5px 30px
    border 1px $primary-light solid
    border-radius 3px
    background $primary
    color $l-gray
  .search-icon
    position absolute
    top 10px
    left 10px
    z-index 10
  a
    color $primary-light
    position relative
    top 5px
    margin-right 15px
    font-size 25px
    line-height 0.5
    +below(4)
      display none
    &:hover
      color $l-gray
  .curator-filter-reviewed-icon,
  .curator-filter-calendar-icon
    &.active
      color $positive

.curator-inbox-datepicker
  display none
  margin 5px auto 15px
  &.active
    display block
  .inlineRangePicker
    position relative
  .daterangepicker
    display inline-block
    left auto !important
    top 8px !important
    padding 0
    margin 0 0 5px
  .calendar
    margin 0

.curator-inbox-source-list
  border-right 1px solid $border-primary

.curator-inbox-table
  margin-bottom 0
  color $primary
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
  .details-open
    background $secondary-light
    &:hover
      background $secondary-light
  .title
    max-width 400px

.curator-inbox-section-head
  color $primary
  background $primary-l-light
  border-top 1px $primary-light solid
  border-bottom 1px $primary-light solid
  height 37px
  font-size 14px
  padding-top 8px
  cursor pointer

.curator-inbox-buttons
  margin-bottom 30px

.curator-source-details-header
  background none
  border-bottom 2px solid $border-primary
  h2
    color $primary
    flex 1
    max-width 75%
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    line-height 1.5
  &.reviewed
    h2
      color darken($positive, 35%)

.curator-source-details-options
  margin-left auto
  .btn
    transition .3s
    &.toggle-reviewed
      background lighten($positive, 90%)
      padding .45em 1.75em
      color darken($positive, 40%)
      &:hover
        background darken(@background, 10%)
        color darken(@color, 10%)
    &.reviewed
      min-width 125px
      transition .3s
      background $positive
      border-color darken($positive, 30%)
      color darken($positive, 60%)
      &::before
      &::after
        display none
        vertical-align middle
      &:before
        content '\f0e2'
        margin-right .25em
        font-family FontAwesome
        font-size .9em
      &::after
        content 'Undo'
      &:hover
        background lighten($delete, 99%)
        border-color $delete
        color darken($delete, 10%)
        &::before
        &::after
          display inline-block
        span
          display none

.curator-source-details-content
  a
    cursor pointer
    color $d-gray
  h3
  h4
    font-weight 600
    margin 0
  h3
    color $primary
    font-size 1.5em
  h4
    color $m-gray
    font-size 1.25em
  .reactive-table-navigation
    margin 15px 0

.curator-source-details-copy-wrapper
  position relative
  margin 0 -15px
  &::before
  &::after
    content ''
    height 20px
    position absolute
    left 0
    right 0
  &::before
    background linear-gradient(to bottom, white, alpha(white, 0%))
    top 0
  &::after
    background linear-gradient(to bottom, alpha(white, 0%), white)
    bottom 0

.curator-source-details-copy
  max-height 25vh
  overflow scroll
  padding 1em 4em
  white-space pre-wrap

.curator-details-articles
  .open-icon
    margin-right 30px

.curator-inbox-table-row
  .curator-inbox-curated-row::before
    content "\f058"
    font-family FontAwesome
    color $positive
  td:first-of-type
    width 45px
    text-align right
  td:nth-of-type(-n+2)
    display table-cell !important
    padding-top 8px
    padding-bottom 8px

.curator-events
  margin-bottom 2em
  &:first-of-type
    .curator-events-header
      border-top 0

.curator-events-table
  margin-bottom 0
  color $primary
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
  .open-row::before
    content "\f138"
    font-family FontAwesome
  .incidents-open
    background $secondary-light
    &:hover
      background $secondary-light
    .open-row::before
      content "\f13a"
      font-family FontAwesome
  .tr-incidents
    padding 0
    .tr-incidents-wrapper
      padding 0

#associated-events
#curator-events-table
  margin-left 15px
  tr
    td
      border-color $border-primary-light
    a
      &:hover
        color $primary
    &:first-of-type
      td
        border-top 0
    &:hover
      background none

.associated-events
  .no-events
    padding 1em 2em

.deassociate-event
.associate-event
  margin-right 10px
  cursor pointer
  color darken($positive, 20%)
  font-size 1.2em
  transition .1s ease-in-out
  &:hover
    color darken(@color, 20%)
    transform scale(1.25)

.deassociate-event
  color darken($delete, 5%)
  &:hover
    color darken(@color, 20%)

#curator-events-table
  thead
    display none

.curator-events-header
  min-height 50px
  padding .5em 2em .5em 1.5em
  border-top 1px solid $border-primary
  border-bottom 1px solid $border-primary
  display flex
  align-items center
  #curatorEventsFilter
    position relative
    margin-left auto
    min-width 30%
    &::after
      content '\f002'
      position absolute
      right 1em
      top 50%
      transform translate(0, -50%)
      z-index 10
      font-family FontAwesome
      color $m-gray
    input
      border-radius 4px
      border-color $border-primary
      box-shadow none
      padding-right 2em
  .input-group-addon
    display none

.spacer
  display inline
  border-right:1px solid #ddd
  margin-left 8px
  margin-right 8px

.no-curator-events
  color gray
  text-align center
  i
    font-size 5em
