$header-BG = $border-primary-light

.curator-heading
  color $primary
  font-weight 400
  margin 30px 0 0
  font-size 32px
  line-height 0.5
  +above(4)
    padding-left 40px

.curator-inbox-header
  padding .5em $page-padding .5em 1.5em
  display flex
  align-items center
  min-height 50px
  max-height 50px
  border-bottom 2px solid darken($border-primary, 10%)
  border-right 1px solid darken($border-primary, 10%)
  &.pane-head-l
    padding-right 1em
  h2
    color $primary
    margin 0
    font-size 1.75em
    font-weight 600
    text-transform uppercase
  .controls
    margin-left 1.5em
    margin-right 1.35em

.toggle-source-content
  font-size 1.5em
  color $primary
  cursor pointer
  padding .15em
  margin-top 2px
  &:hover
    color darken(@color, 10%)
  &.active
    color darken($positive, 20%)

.curator-inbox-sources
  .curator-inbox-header
  .curator-inbox-section-head
    background lighten($border-primary-light, 50%)
    padding-left $page-padding
    &:hover
    &:focus
      i
        transform scale(1.1)
        transition transform 0.1s ease-in-out

.curator-inbox-options
  position relative
  color $primary-light
  display flex
  align-self stretch
  margin-left auto
  .option
    margin-right .75em
    display flex
    align-items center
    align-self stretch
    &:last-child
      margin 0
  input
    min-width 250px
  a
    color $primary
    font-size 1.75em
    +below(4)
      display none
    &:hover
      color lighten(@color, 50%)
  .curator-filter-reviewed-icon
  .curator-filter-calendar-icon
    cursor pointer
    &.active
      color $positive

.curator-filter--search-show
  display flex
  align-items center

.curator-inbox-datepicker
  display none
  margin 5px auto 15px
  &.active
    display block
  .inlineRangePicker
    position relative
  .daterangepicker
    display inline-block
    left auto !important
    top 8px !important
    padding 0
    margin 0 0 5px
  .calendar
    margin 0

.curator-inbox-source-list
  .reactive-table-options
    display none

.curator-inbox-section-head
.curator-events-header
  display flex
  align-items center
  color $primary
  border-top 1px solid darken($border-primary-light, 5%)
  border-bottom 1px solid darken($border-primary-light, 5%)
  &:hover
    border-color $border-primary

.curator-inbox-section-head
  justify-content space-around
  min-height 50px
  font-size 1em
  padding .5em 1em
  cursor pointer
  &:hover
    background $header-BG
  &:first-of-type
    border-top 0
  &:last-of-type
    border-bottom-width 2px
  .toggle
    margin-left auto
  .date
    font-size 1.25em
    font-weight 600
  .count
    font-size .9em
    margin-left 1em
    padding-left 1em
    border-left 1px solid $border-primary

.curator-inbox-buttons
  margin-bottom 30px

.curator-source-details
  padding 0

.curator-source-details-header
  position relative
  background none
  padding-left 1.5em
  border-right 0
  padding-right 2em
  overflow hidden
  h2
    flex 1
    max-width 75%
    margin-left -21px
    z-index 1
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    font-size 1.15em
    line-height 1.15em
    text-transform capitalize
    &::before
      margin-top 2px
      padding 1em .4em .9em .5em
      display inline-block
      vertical-align middle
      content '\f08e'
      opacity 0
      font-size .8em
      font(FontAwesome)
      line-height 0
      font-weight normal
    &:hover
      color $warning
      &::before
        opacity 1
        background white
        color $highlight
    a
      vertical-align middle
      color $primary
      &:hover
        color $highlight

  &.reviewed
    h2
      color darken($positive, 35%)
  .notification
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 110
    background desaturate(lighten($positive, 20%), 10%)
    display flex
    align-items center
    justify-content center
    height 49px
    overflow hidden
    p
      margin 0
      color $primary-dark
      font-size 1.2em
      font-weight 300
      text-transform uppercase
      letter-spacing .03em
      margin-left 1em
    i
    .confirmation
      color white
    .confirmation
      font-size 6em
    .fa-spin
      color alpha($primary, 30%)
      margin-left .5em
      font-size 1.5em
    .checks
      position relative
  .transition
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    height 10px
    width 10px
    background white
    z-index 120
    transition .3s ease-in-out
    transition-delay .1s
    border-radius 50%
    opacity 0
    &.active
      transition-delay .9s
      opacity 1
      transform scale(100)

.curator-source-details-options
  display flex
  align-self stretch
  align-items center
  margin-left auto
  .btn
    transition .3s
    &.toggle-reviewed
      padding .45em 1em
      background lighten($positive, 90%)
      color $primary-dark
      +above(4)
        padding-left 3em
        padding-right 3em
      &:hover
      &:focus
        background darken(@background, 10%)
        color darken(@color, 10%)
    &.reviewed
      min-width 125px
      transition .3s
      background lighten($positive, 30%)
      border-color darken($positive, 50%)
      color $primary-dark
      &::before
      &::after
        display none
        vertical-align middle
      &:before
        content '\f0e2'
        margin-right .25em
        font-family FontAwesome
        font-size .9em
      &::after
        content 'Undo'
      &:hover
        background lighten($delete, 99%)
        border-color $delete
        color darken($delete, 10%)
        &::before
        &::after
          display inline-block
        span
          display none

.curator-source-details-content
  a
    cursor pointer
    color $d-gray
  h3
  h4
    font-weight 400
    margin 0
  h3
    color $primary-dark
    font-size 1.1em
    text-transform uppercase
  h4
    color $d-gray
    font-size 1em
    text-transform uppercase
  .reactive-table-navigation
    padding 0
    +below(2)
      margin-top 1em

.curator-source-details-copy-wrapper
  position relative
  gradientTopAndBottom()

.curator-source-details-copy
  max-height 25vh
  padding 1em 10%
  overflow scroll
  white-space pre-wrap
  +above(4)
    padding 1em 15%

.curator-details-articles
  .open-icon
    margin-right 30px

.curator-inbox-table
  border-radius 0
  margin-bottom 0
  color $primary
  max-width calc(100% + 1px)
  width calc(100% + 1px)
  border 0
  border-top 1px solid $border-primary-light
  border-bottom 1px solid $border-primary-light
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
    position relative
    &:hover
      background-color $border-primary-light
    &:last-of-type
      td
        border 0
    .curator-inbox-curated-row
      &::before
        content "\f058"
        font-family FontAwesome
        color $positive
    td
      border-color $border-primary-light
      &.title
        padding-left 0
      &:first-of-type
        width $page-padding
        text-align right
      &:nth-of-type(-n+2)
        display table-cell !important
        padding-top .5em
        padding-bottom .5em
    &.selected
      background $selected
      cursor default
      &:hover
        background @background
    .details-row
      position relative
      color $border-primary
  .title
    max-width 400px

.curator-events
  margin-bottom 2em
  &:first-child
    .curator-events-header
      border-top 0

.curator-events-table
  margin-bottom 0
  color $primary
  thead
    display none
  tbody
    tr
      td
        display flex
        align-items center
        padding-top 0
        padding-bottom 0
        padding-right 2em
        border-color $border-primary-light
        .event-info
          transition .1s ease-in-out
        &:first-of-type
          padding-left 1.5em
      &:first-of-type
        td
          border-top 0
      &:hover
        background none
      .secondary-actions
        margin-left auto
        display flex
        align-items center
        opacity 0
        transition opacity .2s ease-in-out
        a
          font-size 1.2em
          color $primary
          &:hover
          &:focus
            color darken(@color, 30%)
            transform scale(1.3)
            text-decoration none
            outline 0
            box-shadow 0
      &:hover
        .secondary-actions
          opacity 1

.curator-events--options
  margin-left auto
  display flex
  align-items center
  justify-content flex-end
  min-width 50%
  button
    font-size .85em
  .search-wrapper.stagged
    .search-icon
      font-size 1.5em

.curator-events-collapse
  color $primary
  cursor pointer

.associated-events
  &::before
  .no-events
    padding 1em 2em

.disassociate-event
.associate-event
  padding-top .5em
  padding-bottom .5em
  font-size 1em
  color $primary
  &:hover
  &:focus
    color $primary-dark
    outline 0
    box-shadow 0
    i
      transform scale(1.25)
      transition .1s ease-in-out
  i
    margin-right .5em

.associate-event
  i
    color darken($positive, 5%)
    &:before
      content '\f055'
  &:hover
    i
      color darken($positive, 20%)

.disassociate-event
  i
    color darken($delete, 5%)
    &::before
      content '\f056'
  &:hover
    i
      color darken($delete, 20%)

.suggest-incidents
  font-size .75em
  padding .25em .75em
  margin-right 1em
  background none

#associated-events
  .secondary-actions
    opacity 1
    visibility visible
  tr
    td
      > span
        padding-right 1em

.curator-events-header
  min-height 50px
  padding .5em $page-padding
  display flex
  align-items center
  border-top 1px solid $border-primary
  border-bottom 1px solid $border-primary
  background lighten($border-primary-light, 50%)
  .input-group-addon
    display none
  &.toggleable
    cursor pointer
    &:hover
      background $header-BG
      .curator-events-collapse
        transition transform .1s ease-in-out
        transform scale(1.2)
      h4
        color $primary

#curatorEventsFilter
  position relative
  display block
  input
    float none
    border-radius 4px
    border-color $border-primary
    box-shadow none
    padding-right 2em

.filter-wrapper
  opacity 1
  transition .3s
  margin-right 1em
  min-width 70%
  &.subtle
    opacity .4

.spacer
  display inline
  border-right 1px solid #ddd
  margin-left 8px
  margin-right 8px
  &.dark
    border-color $border-primary
  &.light
    border-color $border-primary-light

.no-curator-events
  color gray
  text-align center
  i
    font-size 5em

.curator-viewing-status
  position absolute
  font-size 1.1em
  left .225em
  color $danger

.back-to-top
  font-size 0.85em
  font-weight 400
  float right
  margin 10px
