.curator-heading
  color $primary
  font-weight 400
  margin 30px 0 0
  font-size 32px
  line-height 0.5

.curator-inbox-header
  background $primary
  padding 10px 15px
  min-height 54px
  h2
    color $ll-gray
    margin 0
    font-size 30px
    font-weight 700

.curator-inbox-articles
  border-right 2px $primary-light solid

.curator-inbox-options
  position relative
  color $primary-light
  input
    padding 5px 5px 5px 30px
    border 1px $primary-light solid
    border-radius 3px
    background $primary
    color $l-gray
  .search-icon
    position absolute
    top 10px
    left 10px
    z-index 10
  a
    color $primary-light
    position relative
    top 5px
    margin-right 15px
    font-size 25px
    line-height 0.5
    &:hover
      color $l-gray
  .curator-filter-curated-icon,
  .curator-filter-calendar-icon
    &.active
      color $positive

.curator-inbox-datepicker
  display none
  margin 5px auto 15px
  &.active
    display block
  .inlineRangePicker
    position relative
  .daterangepicker
    display inline-block
    left auto !important
    top 8px !important
    padding 0
    margin 0 0 5px
  .calendar
    margin 0

.curator-inbox-table
  margin-bottom 0
  color $primary
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
  .details-open
    background $secondary-light
    &:hover
      background $secondary-light

.curator-inbox-section-head
  color $primary
  background $primary-l-light
  border-top 1px $primary-light solid
  border-bottom 1px $primary-light solid
  height 37px
  font-size 14px
  padding-top 8px
  cursor pointer

.curator-inbox-buttons
  margin-bottom 30px

.curator-article-details-header
  .curated-icon
    color $positive
    position absolute
    top 12px
    right 20px
    font-size 32px
  &.curated
    background $positive
    h2
      color $primary
    .curated-icon
      color $primary

.curator-article-details-content
  padding-top 15px
  h3
    color $d-gray
    font-weight 400
    margin 5px
  .reactive-table-navigation
    margin 15px 0

.curator-inbox-table-row
  .curator-inbox-curated-row::before
    content "\f058"
    font-family FontAwesome
    color $positive
  td:first-of-type
    width 45px
    text-align right
  td:nth-of-type(-n+2)
    display table-cell !important
    padding-top 8px
    padding-bottom 8px

.curator-events-table
  margin-bottom 0
  color $primary
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
  .open-row::before
    content "\f138"
    font-family FontAwesome
  .incidents-open
    background $secondary-light
    &:hover
      background $secondary-light
    .open-row::before
      content "\f13a"
      font-family FontAwesome
  .tr-incidents
    padding 0
    .tr-incidents-wrapper
      padding 0

.curator-events-incidents-table
  thead
    display table-header-group
    background $l-gray
  tbody
    background $ll-gray
  .fa-sort-asc,
  .fa-sort-desc
    display none

@media (max-width: 992px)
  .curator-inbox-options
    a
      display none

@media (min-width: 992px)
  .curator-heading
    padding-left 40px
  .curator-inbox-articles
    .curator-inbox-header
    .curator-inbox-section-head
      padding-left 55px
