$header-BG = $border-primary-light
$pane-switch-speed = .3s
$break-point--curator-inbox--x-wide = 1500px

.curator-heading
  color $primary
  font-weight 400
  margin 30px 0 0
  font-size 32px
  line-height 0.5
  +above(4)
    padding-left 40px

.curator-inbox--pane
  width 100%
  &:last-of-type
    left 100%
    +below(3)
      transition transform $pane-switch-speed ease-in-out
      &.on-canvas
        transform translate(-100%, 0)
      &.off-canvas
        transform translate(0,0)
  +above($break-point--curator-inbox)
    width $curator-pane-width
    border-right 1px solid $border-primary
    &:last-of-type
      border 0
      left auto

.curator-inbox-header
  display flex
  align-items center
  width 100%
  min-height 50px
  max-height 50px
  padding .5em $page-padding .5em 1.5em
  border-bottom 2px solid darken($border-primary, 10%)
  +above($break-point--curator-inbox)
    border-right 1px solid darken($border-primary, 10%)

  &.pane-head-l
    padding-right 1em
    +above($break-point--curator-inbox)
      width 50%
    +below($break-point--curator-inbox)
      transition transform $pane-switch-speed ease-in-out
      transform translate(0, 0)
      &:not(.on-canvas)
        transform translate(-100%, 0)
    +above($break-point--curator-inbox--x-wide)
      width 30%

  h2
    color $primary
    margin 0
    font-size 1.75em
    font-weight 600
    text-transform uppercase
  .controls
    margin-left 3em
    +above($break-point--curator-inbox)
      margin-left 1.5em
      margin-right 1.35em

.curator-inbox-header--back-to-list
  z-index $top-layer

.toggle-source-content
  font-size 1.5em
  color $primary
  cursor pointer
  padding .15em
  margin-top 2px
  &:hover
    color darken(@color, 10%)
  &.active
    color darken($positive, 20%)

.curator-inbox-sources
  +below($break-point--curator-inbox)
    transition transform $pane-switch-speed ease-in-out
    transform translate(0, 0)
    &:not(.on-canvas)
      transform translate(-100%, 0)
  +above($break-point--curator-inbox--x-wide)
    width 30%

  .curator-inbox-header
  .curator-inbox-section-head
    background lighten($border-primary-light, 50%)
    padding-left $page-padding
    &:hover
    &:focus
      i
        transform scale(1.1)
        transition transform 0.1s ease-in-out
    &:focus
      noBootstrapFocus()
      background $focus-secondary
    &:active
      background darken($header-BG, 3%)


.curator-inbox-options
  position relative
  color $primary-light
  display flex
  align-self stretch
  margin-left auto
  .option
    margin-right .75em
    display flex
    align-items center
    align-self stretch
    &:last-child
      margin 0
  input
    min-width 250px
  a
    color $primary
    font-size 1.75em
    +below(4)
      display none
    &:hover
      color lighten(@color, 50%)
  .curator-filter-reviewed-icon
  .curator-filter-calendar-icon
    cursor pointer
    &.active
      color $positive

.curator-filter--search-show
  display flex
  align-items center

.curator-inbox-datepicker
  display none
  margin 1em 0 0
  padding-bottom 2em
  border-bottom 2px solid $border-primary-light
  &.active
    display block
  .inlineRangePicker
    position relative
    margin-bottom 1em
  .daterangepicker
    position static
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
  .calendar
    margin 0 0 1.5em 0
    &:first-of-type
      margin-right 1em
    +above(2)
      margin-bottom 0
    .calendar-table
    .daterangepicker_input
      padding 0
  .btn
    margin-bottom .5em
    width 80%
    margin 0 10% 1em 10%
    +above(2)
      width auto
      margin-left 0
      margin-right .5em
      &:first-of-type
        padding-left 2.5em
        padding-right 2.5em

.curator-inbox-source-list
  .reactive-table-options
    display none

.curator-inbox-section-head
.curator-events-header
  display flex
  align-items center
  color $primary
  border-top 1px solid darken($border-primary-light, 5%)
  border-bottom 1px solid darken($border-primary-light, 5%)
  &:hover
  &:focus
    border-color $border-primary
  &:focus
    noBootstrapFocus()
    background $focus-secondary

.curator-inbox-section-head
  justify-content space-around
  min-height 50px
  font-size 1em
  padding .5em 1em
  cursor pointer
  &:hover
    background $header-BG
  &:first-of-type
    border-top 0
  &:last-of-type
    border-bottom-width 2px
  .toggle
    margin-left auto
  .date
    font-size 1.25em
    font-weight 600
  .count
    font-size .9em
    margin-left 1em
    padding-left 1em
    border-left 1px solid $border-primary

.curator-inbox-buttons
  margin-bottom 30px

.curator-source-details
  display flex
  flex-direction column
  padding 0
  +above($break-point--curator-inbox--x-wide)
    width 70%

.curator-source-details--header
  position relative
  background none
  padding-left 1.5em
  border-right 0
  padding-right 2em
  overflow hidden
  +below($break-point--curator-inbox)
    flex-direction column
    min-height none
    max-height none
  h2
    flex 1
    width 100%
    display flex
    align-items center
    z-index 1
    margin-bottom 1em
    margin-right 1em
    text-transform capitalize
    font-size 1.15em
    +above($break-point--curator-inbox)
      max-width 75%
      min-width 0
      margin-bottom 0
      margin-left -21px
    &::before
      margin-top 2px
      padding 1em .4em .9em .5em
      display none
      vertical-align middle
      content '\f08e' // fa-external-link
      opacity 0
      font-size .8em
      font(FontAwesome)
      line-height 0
      font-weight normal
      +above($break-point--curator-inbox)
        display inline-block
    &:hover
      color $warning
      &::before
        opacity 1
        background white
        color $highlight
    a
      vertical-align middle
      color $primary
      +above($break-point--curator-inbox)
        white-space nowrap
        text-align left
        text-overflow ellipsis
        line-height 1.15em
        overflow hidden
      &:hover
      &:focus
        color $highlight

  &.reviewed
    h2
      color darken($positive, 35%)
  .notification
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 110
    background desaturate(lighten($positive, 20%), 10%)
    display flex
    align-items center
    justify-content center
    height 49px
    overflow hidden
    p
      margin 0
      color $primary-dark
      font-size 1.2em
      font-weight 300
      text-transform uppercase
      letter-spacing .03em
      margin-left 1em
    i
    .confirmation
      color white
    .confirmation
      font-size 6em
    .fa-spin
      color alpha($primary, 30%)
      margin-left .5em
      font-size 1.5em
    .checks
      position relative
  .transition
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    height 10px
    width 10px
    background white
    z-index 120
    transition .3s ease-in-out
    transition-delay .1s
    border-radius 50%
    opacity 0
    &.active
      transition-delay .9s
      opacity 1
      transform scale(100)

.curator-source-details--options
  display flex
  align-self stretch
  align-items center
  flex-direction row-reverse
  align-items center
  margin-bottom 1em
  +above($break-point--curator-inbox)
    flex-direction row
    margin-left auto
    margin-bottom 0
  .btn
    transition .3s
    flex 1
    +above($break-point--curator-inbox)
      flex auto
    &.toggle-reviewed
      padding .45em 3em
      background lighten($positive, 90%)
      color $primary-dark
      margin-right auto
      max-width 225px
      +above($break-point--curator-inbox)
        margin-bottom 0
      &:hover
        background darken(@background, 10%)
        color darken(@color, 10%)
      &:focus
        @extend .btn-success
    &.reviewed
      min-width 125px
      transition .3s
      background lighten($positive, 30%)
      border-color darken($positive, 50%)
      color $primary-dark
      &::before
      &::after
        display none
        vertical-align middle
      &:before
        content '\f0e2' // fa-undo
        margin-right .25em
        font-family FontAwesome
        font-size .9em
      &::after
        content 'Undo'
      &:hover
        background lighten($delete, 99%)
        border-color $delete
        color darken($delete, 10%)
        &::before
        &::after
          display inline-block
        span
          display none

.curator-source-details--content
  display flex
  flex-direction column
  +above($break-point--curator-inbox--x-wide)
    flex-direction row
  a
    cursor pointer
    color $d-gray
  h3
  h4
    font-weight 400
    margin 0
  h3
    color $primary-dark
    font-size 1.1em
    text-transform uppercase
  h4
    color $d-gray
    font-size 1em
    text-transform uppercase
  .reactive-table-navigation
    padding 0
    +below(2)
      margin-top 1em

.curator-source-details--copy-wrapper
  position relative
  gradientTopAndBottom()
  +above($break-point--curator-inbox--x-wide)
    overflow-x scroll
    &::after
    &::before
      display none


.curator-source-details--copy
  height 30vh
  padding 1em 10%
  overflow scroll
  white-space pre-wrap
  +above(4)
    padding 1em 15%
  +above($break-point--curator-inbox--x-wide)
    height auto
    flex 1
    padding-right 5%
    padding-left 5%
    padding-bottom 3em
    border-right 1px solid $border-primary

.curator-source-details--table
  overflow scroll
  border-top 2px solid darken($border-primary-light, 5%)
  padding-bottom 3em
  .table
    thead
      background lighten($border-primary-light, 50%)
      > tr > th
        border-bottom 2px solid darken($border-primary-light, 5%)
  +above($break-point--curator-inbox--x-wide)
    padding-bottom 2em
    border 0

.curator-source-details--copy-wrapper
.curator-source-details--table
  +above($break-point--curator-inbox--x-wide)
    flex 1 1 50%
    max-width 50%

.curator-details-articles
  .open-icon
    margin-right 30px

.curator-inbox-table
  border-radius 0
  margin-bottom 0
  color $primary
  max-width calc(100% + 1px)
  width calc(100% + 1px)
  border 0
  border-top 1px solid $border-primary-light
  border-bottom 1px solid $border-primary-light
  thead
    display none
  tr
    padding-left 7px
    padding-right 7px
    position relative
    &:hover
      background-color $border-primary-light
    &:last-of-type
      td
        border 0
    .curator-inbox-curated-row
      &::before
        content "\f058"
        font-family FontAwesome
        color $positive
    td
      border-color $border-primary-light
      &.title
        padding-left 0
      &:first-of-type
        width $page-padding
        text-align right
      &:nth-of-type(-n+2)
        display table-cell !important
        padding-top .5em
        padding-bottom .5em
    &.selected
      background $selected
      cursor default
      &:hover
        background @background
    .details-row
      position relative
      color $border-primary
  .title
    max-width 400px

.curator-events
  margin-bottom 2em
  &:first-child
    .curator-events-header
      border-top 0

.curator-events-table
  margin-bottom 0
  color $primary
  thead
    display none
  tbody
    tr
      td
        display flex
        align-items center
        padding-top 0
        padding-bottom 0
        padding-right 2em
        border-color $border-primary-light
        .event-info
          transition .1s ease-in-out
        &:first-of-type
          padding-left 1.5em
      &:first-of-type
        td
          border-top 0
      &:hover
        background none
      .secondary-actions
        margin-left auto
        display flex
        align-items center
        opacity 0
        transition opacity .2s ease-in-out
        a
          font-size 1.2em
          color $primary
          &:hover
          &:focus
            color darken(@color, 30%)
            transform scale(1.3)
            text-decoration none
            noBootstrapFocus()
      &:hover
        .secondary-actions
          opacity 1

.curator-events--options
  margin-left auto
  display flex
  align-items center
  justify-content flex-end
  min-width 50%
  button
    font-size .85em
  .search-wrapper.stagged
    .search-icon
      font-size 1.5em

.curator-events-collapse
  color $primary
  cursor pointer

.associated-events
  &::before
  .no-events
    padding 1em 2em

.disassociate-event
.associate-event
  padding-top .5em
  padding-bottom .5em
  font-size 1em
  color $primary
  &:hover
  &:focus
    noBootstrapFocus()
    color $primary-dark
    i
      transform scale(1.25)
      transition .1s ease-in-out
  i
    margin-right .5em

.associate-event
  i
    color darken($positive, 5%)
    &:before
      content '\f055' // fa-plus-circle
  &:hover
    i
      color darken($positive, 20%)

.disassociate-event
  i
    color darken($delete, 5%)
    &::before
      content '\f056' // fa-minus-circle
  &:hover
    i
      color darken($delete, 20%)

.suggest-incidents
  font-size .75em
  padding .25em .75em
  margin-right 1em
  background none

#associated-events
  .secondary-actions
    opacity 1
    visibility visible
  tr
    td
      > span
        padding-right 1em

.curator-events-header
  min-height 50px
  padding .5em $page-padding
  display flex
  align-items center
  border-top 1px solid $border-primary
  border-bottom 1px solid $border-primary
  background lighten($border-primary-light, 50%)
  .input-group-addon
    display none
  &.toggleable
    cursor pointer
    &:hover
      background $header-BG
      .curator-events-collapse
        transition transform .1s ease-in-out
        transform scale(1.2)
      h4
        color $primary

#curatorEventsFilter
  position relative
  display block
  input
    float none
    border-radius 4px
    border-color $border-primary
    box-shadow none
    padding-right 2em

.filter-wrapper
  opacity 1
  transition .3s
  margin-right 1em
  min-width 70%
  &.subtle
    opacity .4

.spacer
  display inline
  border-right 1px solid #ddd
  margin-left 8px
  margin-right 8px
  &.dark
    border-color $border-primary
  &.light
    border-color $border-primary-light

.no-curator-events
  color gray
  text-align center
  i
    font-size 5em

.curator-viewing-status
  position absolute
  font-size 1.1em
  left .225em
  color $danger

.back-to-top
  position absolute
  left 50%
  bottom 20px
  transform translate(-50%, 0px)
  z-index $top-layer + 1
  display block
  padding-left 3em
  padding-right 3em
  font-size 0.85em
  font-weight 400
  +above($break-point--curator-inbox)
    left 33%
    transform translate(-100%, 0px)
  +below($break-point--curator-inbox)
    &.off-canvas
      opacity 0
      transition opacity .5s ease-in-out

.back-to-list
  font-size 2.5em
  margin-right .35em
  color $primary
  cursor pointer
  +above($break-point--curator-inbox)
    display none

.curator-events
  +below($break-point--curator-inbox)
    .reactive-table-navigation
      padding-top 1em
      padding-bottom 1em
      margin-top 0
      margin-bottom 3em
      background $block-BG
      justify-content flex-end
      margin-right 1em
      .page-number
        max-width 65%
        margin-right 1em
