.bootstrap-datetimepicker-widget
  &.dropdown-menu
    border 1px solid $border-primary-light
  table
    color $primary

  table td.active.today:before
    border-bottom-color $primary

  table td.today:before
    border-bottom-color #555

.daterangepicker td.in-range
  background-color darken($secondary-light, 3%)
  color $primary

.bootstrap-datetimepicker-widget table td.active
.bootstrap-datetimepicker-widget table td.active:hover
.daterangepicker td.active
.daterangepicker td.active:hover
  color $primary
  background-color $secondary

.bootstrap-datetimepicker-widget table td
  height 15px
  line-height 15px
  width 5px
.bootstrap-datetimepicker-widget table td span
  height auto
  width auto
  line-height 0

.inlineRangePicker .daterangepicker
.daterangepicker .calendar td.today
  position relative

.inlineRangePicker .daterangepicker .calendar
  border none

.inlineRangePicker .daterangepicker.single .calendar.left.single
  width 100%
  max-width 550px

.inlineRangePicker .daterangepicker .calendar .calendar-table
  border none

.daterangepicker .calendar td.today:after
  content ''
  display inline-block
  border solid transparent
  border-width 0 0 7px 7px
  border-bottom-color $primary
  border-top-color rgba(0, 0, 0, 0.2)
  position absolute
  bottom 4px
  right 4px

// .daterangepicker td, .daterangepicker th

.calendar-wrapper
  .date-picker-container
    position relative
  padding 1em
  .calendar
    float none
    font-size .85em
    border 0
    +below(4)
      width 100%
      &.left
        margin-bottom 1em
    +above($wide-ui-width)
      font-size 1em
  .daterangepicker
    position static
    display flex
    align-items center
    justify-content space-around
    background none
    border 0
    // Overide dynamically generated inline styles
    top auto !important
    left auto !important
    &::before
      border 0
    +below(4)
      flex-direction column
  .calendar-table
    background none
    border 0
    color $primary
  .table-condensed > thead > tr > th
  .table-condensed > tbody > tr > th
  .table-condensed > tfoot > tr > th
  .table-condensed > thead > tr > td
  .table-condensed > tbody > tr > td
  .table-condensed > tfoot > tr > td
    padding .1em
    +above($wide-ui-width)
      padding .35em
  .daterangepicker .calendar th
  .daterangepicker .calendar td
    min-width 15px
  .daterangepicker .calendar td.today
    border-radius 4px
    background $highlight
    color white
    font-weight 600
    &::after
      border 0
    &.in-range
      border-radius 0
    &.end-date
    &.start-date
      border-radius 0
      background $secondary
      color $primary
    &.end-date
      border-top-right-radius 4px
      border-bottom-right-radius 4px
    &.start-date
      border-top-left-radius 4px
      border-bottom-left-radius 4px

  .daterangepicker td.off
  .daterangepicker td.off.in-range
  .daterangepicker td.off.start-date
  .daterangepicker td.off.end-date
    background none
    color darken($l-gray, 10%)

#event-source
#add-incident
  .daterangepicker
    position static
    display flex
    align-items center
    justify-content center
    background none
    &::before
    &::after
      display table
      content ''
      clear both
    .calendar
      float none
      margin 0 1em 0 0
      &:nth-of-type(2)
        margin-right 0
    .calendar-table
      background none
    td.off
    td.off.in-range
    td.off.start-date
    td.off.end-date
      background none
      color desaturate(darken($border-primary, 5%), 100%)
      font-weight 200
      &:hover
        background darken($secondary-light, 5%)
    td
      font-size .9em
    thead
      color $primary
      .prev
      .next
        color $primary
        font-size 1.35em
        &.available
          &:hover
            background none
      .prev
        padding-left 0
      .next
        padding-right 0
      tr:nth-of-type(2)
        th
          font-weight 200
          color darken($border-primary, 20%)
    .single
      width auto
    .in-range
    .start-date
      &:not(.off)
        font-weight 600
    .available
      &:hover
        &:not(.off)
          background $secondary
    .today
      &:not(.in-range)
        background lighten($delete, 50%)
        font-weight 600
      &.off
        background desaturate(lighten($delete, 60%), 50%)
      &::after
        border 0
    .today.active
      background $secondary
    input
      border-color $border-primary
      box-shadow none
