.feeds--list
  li
    .delete
      visibility hidden
      opacity 0
    &:hover
      .delete
        visibility visible
        opacity 1

.add-feed
  display flex
  align-items center
  margin-left 2em
  button
    padding-top 6px
    padding-bottom 6px
    margin-left 1em
  input
    min-width 350px
