footer
  position absolute
  bottom 0
  z-index 100
  width 100%
  border-top 2px solid $secondary
  background white
  height $footer-height
  .eha
    text-align center
    margin-left 2%
    img
      margin-bottom 15px
    a
      bg('/images/eha-logo', 280px, 78px, 'svg')
      display block
      margin 10px auto
  .contactInfo
    float right
    margin-top 40px
    margin-right 2%
  address
    font-size 90%
    color $m-gray
  a
    color $primary
  li
    font-weight bold
    color $primary
    display inline-block
  .fa.fa-circle
    margin-left 10px
    margin-right 10px

@media (max-width: 768px)
  footer
    height $mobile-footer-height
    a
      changeBGSize(150px,42px)
