form
  label
    margin-bottom .25em

.input-wrapper
  position relative

input
  &.icon-right
    padding-right 2em
  &[type=text]
    &:focus
      outline 0
      box-shadow none
      border-color $primary

.search-icon
  position absolute
  top 50%
  transform translate(0, -50%)
  color $border-primary
  &.right
    right 10px
    left auto
