html
body
  height 100%

body
ul
  color #555
  font($body-font)

p
  line-height 1.6em
  font-weight 400

ul
  font-weight 400

ul
h1
h2
h3
h4
  letter-spacing .01em

h1
h2
h3
h4
  color $primary-dark
  font-weight 700

h1
  font-size 48px
  font-weight 800
  +below(3)
    font-size 40px

h2
  font-size 38px
  color $primary
  margin-bottom 0px
  margin-top 0
  &.section-title
    font-size 40px
    margin-top 0
    +below(3)
      font-size 34px
  a.more-info
    font-size 12px
    color btn-default
  +below(3)
    font-size 30px

h3
  font-size 20px
  margin-top 0
  color $primary
  +below(3)
    font-size 18px

h4
  color $body-text
  font-weight 600
  font-size 15px
  +below(3)
    color $body-text
    font-weight 600
    font-size 15px
h5
  font-size 100%
  font-weight 600
  color $d-gray
  +below(3)
    font-size 100%
    font-weight 600
    color $d-gray

a
  cursor pointer
  color $link-color
  &:hover
  &:focus
    color $link-color-hover
    text-decoration none

.centered
  text-align center

#main
  margin-top 70px
  min-height 550px

section
  padding 30px 0

.minor
  color #666
  font-size 20px
  font-weight normal
  margin 0

.content-wrapper
  padding-top $header-height - 2px
  padding-bottom $footer-height
  +below(3)
    padding-top $mobile-header-height
    padding-bottom $mobile-footer-height

.main-content
  +below(3)
    padding-top $mobile-header-height

.page-wrapper
  position relative
  min-height 100%

.default-fullWidth
  background $ll-gray
