.nav
  +below(3)
    margin 0

.navbar
  padding 0 $page-padding-small-screen
  background-color #FFF
  border-bottom 2px solid $secondary
  z-index 1010
  +above(3)
    padding 0 $page-padding
  > li
    margin-right 1px
    > a
      padding 25px 15px
      font-size 15px
      color #333
      letter-spacing 0.02em
      +below(3)
        padding 15px 10px
        &:last-child
          border 0

.navbar-nav
  float right
  > li
    margin-right 1px
    .icon
      display none
  +below(2)
    float none
  +above(2)
    border-bottom 0
    .icon
      display inline-block

.navbar-default .navbar-nav > li > a
.navbar-default .navbar-nav .open .dropdown-menu > li > a
  font-size 1em
  color $primary-dark
  &:hover
    background-color $secondary-light

.navbar-default .navbar-nav .open .dropdown-menu > li > a
  &:hover
    background-color darken($secondary-light, 5%)

.navbar-default .navbar-nav > .active > a
.navbar-default .navbar-nav > .active > a:hover
.navbar-default .navbar-nav > .active > a:focus
.navbar-default .navbar-nav .open .dropdown-menu > .active > a
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus
.navbar-default .navbar-nav > .open > a
.navbar-default .navbar-nav > .open > a:hover
.navbar-default .navbar-nav > .open > a:focus
  background-color $secondary-light
  color $primary-dark
  font-weight 600

.navbar-default .navbar-nav > li > a:hover
.navbar-default .navbar-nav > li > a:focus
.navbar-default .navbar-nav > .active > a:focus
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus
.navbar-default .navbar-nav > .open > a:focus
  noBootstrapFocus()
  background-color darken($secondary, 10%)

.navbar-default .navbar-nav > li > a:hover
  background-color $secondary-light
.navbar-default .navbar-nav > li > a:focus
  background-color darken($secondary-light, 5%)


.navbar-nav .open .dropdown-menu
  background-color $secondary-light
  overflow hidden

.navbar-nav .dropdown-menu
  box-shadow none
  > li > a
    padding .75em 1em

.dropdown-toggle-nav
  font-size 0
  &::before
  &::after
    vAlign()
  span
    &:first-of-type
      +above(3)
        display none

.dropdown-menu > li > a:focus
.dropdown-menu > .active > a:focus
  background-color $secondary
  noBootstrapFocus()

.dropdown-menu > .active > a
.dropdown-menu > .active > a:hover
.dropdown-menu > .active
  background-color $secondary

.dropdown-menu
  max-width 300px
  border 0
  border-top 2px solid $secondary

.dropdown-menu
  &.nav-dd
    padding 0

.navbar-default .navbar-nav .open .dropdown-menu > li > a
  font-size .9em
  color $primary-dark
  span
    vertical-align middle
    &:first-of-type
      font-size 1.1em
      margin-right .35em

.logo
  height 50px
  width 50px
  float left
  padding-top 15px

.navbar-brand
  bg('/images/eidr-connect-logo-long', 200px, 30px, 'svg')
  margin-top 10px
  +below(3)
    background-size 150px 20px
    background-repeat no-repeat
    width 150px
    height 20px
    margin-top 15px
  +between(3,4)
    margin-left 20px
  &:focus
    transform scale(1.05)

.disclaimer
  width 100%
  padding 1px 0
  background-color $warning
  a
    color $d-gray
    &:hover
      color #000
  +below(3)
    display none

.link-text-nav
  display inline-block
  padding-right 3px

.show-small
  display none

.link-text-nav
.navbar-default .navbar-nav > li > a
  +between(3,4)
    font-size 12px

header .navbar-collapse
  +below(3)
    padding 0
    margin-right -15px
    margin-left -15px

.navbar-fixed-top .navbar-collapse
  +below(2)
    background $secondary-light
    max-height 400px

.navbar-toggle
  padding .35em .75em
  +below(3)
    margin-right 0
    margin-top 10px

.navbar-default .navbar-toggle:hover
.navbar-default .navbar-toggle:focus
  +below(3)
    background-color $ll-gray
