.list
  li
    border-left 0
    border-right 0
    border-color #F4F6F9
    &:first-child
    &:last-child
      border-radius 0

.list-group
  &.anchored-top
    .list-group-item
      &:first-of-type
        border-radius 0
        border-top 0
