.loading
  text-align center
  color #CCC
  margin-top 30px
  p
    font-size 16px
    font-weight 300
    margin 10px 0 0 0
  &::before
    @extend .font-awesome
    content "\f1ce"
    display block
    font-size 200px
    line-height 200px
    animation spin 2s infinite linear
  &.small
    &::before
      font-size 50px
      line-height 50px
      margin-bottom 1em

@keyframes spin
  0%
    transform:rotate(0deg)
  100%
    transform:rotate(360deg)
