.map-search-wrap
  position relative
  top 0

.map-search
  position relative
  align-self flex-end
  flex 1 1
  .fa
    position absolute
    left 10px
    top 50%
    transform translate(0, -50%)
    content '\f073'
    @extend .font-awesome
    z-index 10
  input
    padding-left 30px

.calendar-wrapper
  padding 1em

.search-wrap
  display flex
  align-items center
  justify-content space-between
  padding 15px 20px 15px 20px
  background $primary-light
