$modal-border-radius = 4px

.modal-content
  border-radius $modal-border-radius

.modal-body
  padding 10px 20px

.modal-header
  padding 0
  border-top-left-radius $modal-border-radius
  border-top-right-radius $modal-border-radius
  overflow hidden
  background $ll-gray
  .close
    padding 5px

.modal-header--title
  padding 1.25em 40px 1em 25px
  h4
    margin 0
    font-weight 300
    font-size 2em
    color $primary
    text-transform uppercase

.modal-header
.modal-footer
  border-color lighten($l-gray, 10%)

.modal-footer
  padding-top 1.25em
  padding-bottom 2em
  .btn + .btn
    margin-bottom 1em
    +above(2)
      margin-bottom 0
  .btn
    &:last-of-type
      margin-bottom 0

.small-text
  font-size .5em
  display inline

.close-modal
  position absolute
  right 1em
  top .75em
  cursor pointer
  color $m-gray
  padding .25em
  &:hover
    color $secondary-dark
  &::before
    font-family FontAwesome
    content '\f057'
    font-size 1.65em
