.tabs-wrapper
  border-bottom 2px solid $primary

.tabs
  position relative
  display flex
  align-items stretch
  margin-bottom 0
  width 100%
  padding 0
  +above(2)
    flex-direction row
  +above(3)
    margin-top 40px
  +above(5)
    width 65%
    max-width $max-ui-width
    justify-content center
    margin-right auto
    margin-left auto

  > li
    display flex
    flex 1
    justify-content center
    align-items center
    letter-spacing $letter-spacing
    border 0
    border-radius 0
    +above(4)
      margin 0 .5em

.tabs > li > a
  flex 1
  width 100%
  padding-top .75em
  padding-bottom .75em
  font-size 1.25em
  text-align center
  display block
  text-transform uppercase
  text-decoration none
  border 1px solid $border-primary
  border-bottom 0
  +above(2)
    font-size 1.25em
  +above(4)
    border-top-left-radius 4px
    border-top-right-radius 4px

.tabs > li > a
.tabs > li > a:hover
.tabs > li > a:focus
.tabs > li > a:active
  color $primary

.tabs > li > a:focus
.tabs > li.active a:focus
  background $focus-secondary
  border-color darken($secondary, 20%)
  color $primary-dark

.tabs > li:hover
  background-color darken($primary-light, 3%)

.tabs > li.active a
.tabs > li.active a:hover
  border-color $primary
  background-color $primary

.tabs > li.active > a
  color white
  cursor default

.secondary-tabs
  border-bottom 1px solid $border-primary
  > li
    position relative
    > a
      font-size 1em
      padding-top .35em
      padding-bottom .35em
    &.active
      > a
        &
        &:focus
        &:hover
        &:active
          background $block-BG
          border-color $border-primary
    &.with-info-tooltip
      &:after
        position absolute
        top .1em
        right .5em
        font-size .8em
