.nav-tabs.primary-tabs
  padding-left 50px
  border-bottom 2px solid $primary
  > li
    margin-bottom 0
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus
    color white
    background-color $primary
    border 1px solid $primary
    font-weight bold
  > li > a
    background-color #F9F9F9
    color #95989A
    border 1px solid #F0F0F0
    border-bottom-color #F9F9F9
    width 200px
    text-align center
    font-size 18px
    margin-left 5px

.nav-tabs.secondary-tabs
  padding-left 30px
  border-bottom 2px solid $secondary
  > li
    margin-bottom 0
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus
    color primary
    background-color $secondary
    border 1px solid $secondary
  > li > a
    background-color transparent
    color primary
    border-color transparent
    border-bottom-color transparent
    margin-left 5px
