.reactive-table
  padding-left 0
  padding-right 0
  border-radius 5px
  overflow hidden
  border $table-border
  tbody tr
    cursor pointer
  td
    +below(3)
      display none
      border-top 0 !important
      &:first-child
        display block
        padding-top 20px
        padding-bottom 20px
      &:hover,
      &:focus
        background $l-gray
  tr:last-child td:first-child
    +below(3)
      border 0


.reactive-table-columns-dropdown
  button
    text-shadow none
    &:hover
      @extend .white-shadow
  float left !important
  width auto
  padding 0
  a
    position relative
  label
    white-space initial
    padding-left 25px
    margin 0
    input
      position absolute
      left 15px

.reactive-table-columns-dropdown .dropdown-toggle
  &::before,
  &::after
    vAlign()
  &::before
    @extend .font-awesome
    content '\f0db'
    padding-right 5px
    line-height 0
    margin-top -3px

.reactive-table-options
  float none
  width 100%
  padding 0
  .dropdown-menu > li > a
    padding 4px 10px
  +below(3)
    margin 0
    padding 0
    .dropdown-toggle
      display none

.rows-per-page
.page-number
  margin-right 20px
  span
    font-weight normal
    padding 0 1px
  .page-numbe-count
  .rows-per-page-count
    font-weight bold
  input
    text-align center

.rows-per-page
  +below(3)
    display none

.reactive-table-navigation .previous-page
.reactive-table-navigation .next-page
  font-size 150%
  line-height 0

.reactive-table-filter
  +above(3)
    width 40%
    padding 0
  +below(3)
    padding 10px 0 10px 0

.reactive-table-input
  +below(3)
    padding 20px 10px

.next-page
.page-number
  +below(3)
    width 100%
    float none
    font-size 24px
    label
      display none

.previous-page
.next-page
  +below(3)
    display block
    width 45%
    float left
    background $secondary
    text-align center
    padding 10px
    color white
    border-radius 3px
    cursor pointer
    &:focus,
    &:hover
      background darken($secondary, 15%)
      border $primary
      color white

.next-page
  +below(3)
    float right
