.scatterPlot-container
  overflow hidden

.scatterPlot-content
  overflow hidden

.scatterPlot-axis
  font-family sans-serif
  font-size 8px

.scatterPlot-axis path, .scatterPlot-axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.scatterPlot-axis-label
  font-size 12px
  font-weight bold

.scatterPlot-warn
  fill orangered
