.select2 > .selection > .select2-selection
.select2-dropdown
  min-height 34px
  border-color $border-primary
  overflow hidden

.select2-container--default .select2-search--inline .select2-search__field
  margin-top 6px

.select2-container--default
  .select2-selection--single
    &:focus
      outline 0
    .select2-selection__arrow
      top 50%
      transform translate(0, -50%)
      right 5px

.select2-container
.select2-container > input
.select2-search > input
  width 100% !important

.select2-container--default
  .select2-results__option--highlighted[aria-selected]
    background $secondary
    color $primary-dark
  .select2-results__option[aria-selected=true]
    background lighten($secondary, 70%)

.select2-results__options
  gradientBottom(50px)
  padding-bottom 50px
  li
    border-bottom 1px solid lighten($border-primary-light, 10%)

.select2-container--default
  .select2-selection--multiple
    .select2-selection__choice
      background-color lighten($secondary, 40%)
      border-color $secondary
      color $primary
      span
        font-size 0
        &:hover
          &::before
            color $primary-dark
        &::before
          font-size 14px
          @extend .font-awesome
          content '\f00d' // fa-times
          padding-right 3px
          color lighten($primary, 10%)

.select2-selection__rendered
  padding-top 1px

// Validation
.has-error
  .select2 > .selection > .select2-selection
  .select2-dropdown
    background lighten($danger, 95%)
    border-color $danger
  .select2-container--default .select2-selection--single .select2-selection__arrow b
    border-color $danger transparent transparent transparent

.select2-results__message
  text-align center
  border-bottom 0 !important // Overide select2 styles
