#suggested-articles
  padding-top 0
  padding-bottom 0
  min-height 125px
  position relative
  ul
    margin 0
  li
    padding .3em 20px
    border-bottom 1px solid darken($block-BG, 5%)
    color $primary
    cursor pointer
    &:last-of-type
      border 0
    &:hover
      background darken($block-BG, 3%)
    &.active
      color $secondary-dark
      background darken($block-BG, 3%)

#event-source
  .time
    margin 1.5em
