.table-header
  padding 10px
  margin-bottom 0
  border-radius $tableRadius $tableRadius 0 0
  border 1px solid #CCC

.table > tbody > tr > th
.table > tbody > tr > td
  border-color $border-primary-light

.table
  border 0
  margin-bottom 0
  > tbody
    > tr
      &:hover
      &:focus
        background lighten($border-primary-light, 50%)

.table
.reactive-table
  &.static-rows
    tbody
      tr
        cursor default
        background none
  tr
    cursor pointer
    &.tr-details
      cursor default
      background none

.table
  > tbody
    > tr
      td
        border-top 0
        border-bottom 1px solid $border-primary-light
      &.selected
      &.open
        .action
          color $primary
          &.open-down
            &::after
              content '\f13a'
      &:hover
        .action
          &::after
            color $primary
      &:last-of-type
        td
          border-bottom-color $border-primary
      .action
        min-width 1em
        max-width 1em
        text-align right
        color $border-primary
        padding-right 1.5em
        &:after
          font-family FontAwesome
        &.open-down
          &::after
            content '\f137'
        &.open-right
          &::after
            content '\f105'

  &.featured
    thead
      background $border-primary-light
      > tr
        > th
          border-top 0
          border-bottom 1px solid $border-primary
    > thead
    > tbody
      > tr
        th
        td
          &:first-of-type
          &:last-of-type
            padding-left $page-padding

.featured-table
  .reactive-table-options
    display none
  .reactive-table-navigation
    +above(3)
      padding .5em 25px

.reactive-table-navigation
  padding 1em .5em .9em .5em
  display flex
  align-items center
  +above(3)
    background lighten($border-primary-light, 60%)
  .form-control
    display inline-block
  .form-inline
    float none
    margin-bottom 0
  input
  label
    font-weight normal
    text-transform none
    color $m-gray
  input
    text-align center
    border-color $l-gray
  .rows-per-page-label
    display none
  .page-number
    margin-left auto
  input
  .page-number-count
  .rows-per-page-count
    font-weight 600
  i
    color $m-gray
  .previous-page
    padding 1em .2em 1em 1em
  .next-page
    padding 1em 1em 1em .2em
  .next-page
  .previous-page
    &:hover
      color $secondary-dark
    &:active
      background $border-primary
      color $primary-dark

  // Show the pagination as simple previous and next buttons on mobile
  +below(2)
    justify-content center
    margin-bottom .75em
    .page-number
      margin auto
    .rows-per-page
      display none
    .page-number
      display flex
      width calc(100% - 30px)
      label
        display none
      i
        flex 1
        background $border-primary-light
        text-align center
        padding .8em .25em
        min-width 40%
        color $primary-dark
        border-radius 4px
        border 1px solid $border-primary
        font-size .95em
        &:hover
          color $primary
        &::after
          font($body-font)
        &.previous-page
          &::after
            buttonContent('previous', left)
        &.next-page
          &::before
            buttonContent('next', right)
          &::after
            content '\f0da'
            font(FontAwesome)
