.table-header
  padding 10px
  margin-bottom 0
  border-radius $tableRadius $tableRadius 0 0
  border 1px solid #CCC

.table-hover > tbody > tr:hover
  background-color lighten($border-primary-light, 35%)

.table > tbody > tr > th
.table > tbody > tr > td
  border-color $border-primary-light

.reactive-table
  tr
    &.tr-details
      cursor default

.table
  > tbody
    > tr
      &:last-of-type
      td
        border-bottom 1px solid $border-primary-light
