.container-fluid-padded
  padding-left $page-padding
  padding-right $page-padding

.container-flex
  display flex
  +below(2)
    flex-direction row
  &.no-gutter
    .flex-col
      margin 0

.flex-col
  flex 1
  margin-right $page-padding
  &.bordered
    border-right 1px solid $border-primary
  &.no-grow
    flex-grow 0
  &:last-of-type
    margin 0
    border-right 0
