.container-fluid-padded
  padding-left $page-padding-small-screen
  padding-right $page-padding-small-screen
  +above(3)
    padding-left $page-padding
    padding-right $page-padding

.container-flex
  display flex
  &.column
    flex-direction column
  &:not(.no-break)
    +below(3)
      flex-direction column
  .break-2
    flex-direction row
    +below(1)
      flex-direction column
  &.no-gutter
    .flex-col
      margin 0
  &.central
    justify-content center
  &.vertically-centered
    align-items center

.flex-col
.flex-row
  flex 1

.flex-col
  margin-right $page-padding
  +below(3)
    margin-right 0
  &.bordered
    border-right 1px solid $border-primary
    +below(3)
      border-right 0
      border-bottom 1px solid $border-primary
  &.no-grow
    flex-grow 0
  &:last-of-type
    margin-right 0
    border-right 0
  &.on-left
    margin-right auto
  &.on-right
    margin-left auto
  &.items-right
    display flex
    justify-content flex-end

.flex-row
  flex-direction column

.flex-reverse
  flex-direction row-reverse

.page-heading
  min-height 75px
  align-items center
  border-bottom 2px solid $border-primary
  padding-top 1em
  padding-bottom 1em
  h1
    margin 0 0 1em 0
    color $primary
    font-size 1.5em
    font-weight 600
    text-transform uppercase
    +above(2)
      margin-bottom 0
    + .btn
      margin-left 1em

.page-options
  @extend .container-flex
  +above(2)
    margin-left auto
  div
  button
    margin-bottom 1em
    +above(2)
      margin-left 1em
      margin-bottom 0
    +between(2,3)
      margin-left 0
  .page-options--search
    min-width 300px
  label
    margin 0
    font-size .9em

.page-heading
.page-options
  flex-direction column
  +above(2)
    flex-direction row
  +between(2,3)
    button
      padding .1em .5em
      margin-right .25em
      border 0
      background none
      font-size 1.5em
      &:hover
      &:focus
      &:focus:hover
        background none
        color $secondary-dark
      span
        display none
      &.btn
        .fa
          margin 0
