.rm-pad
  padding 0

for $num in 1 2 3 4 5 6
  .space-btm-{$num}
    margin-bottom $num*10px

  .space-top-{$num}
    margin-top $num*10px

.muted-text
  color darken($l-gray, 20%)

.no-results
  margin-top 1em
  padding 0 1em
  text-align center
  font-weight 300
  text-transform uppercase
  @extend .muted-text
  &::before
    icon()
    display block
    content '\f002'
    font-size 350%

.veil
  full-width()
  background alpha(white, 80%)
  z-index 100
