$primary = #345E7E
$primary-light = #EAEEF2
$primary-l-light = lighten($primary, 90%)
$primary-dark = darken($primary, 30%)
$secondary = #F7B297
$secondary-light = #FAF0EC
$secondary-l-light = lighten($secondary, 90%)
$secondary-dark = darken($secondary, 30%)
$highlight = #F07382

$selected = $secondary-light

$blue = #2D5987

$ll-gray = #f9f9f9
$l-gray = #ebebeb
$ld-gray = darken($l-gray,10%)
$m-gray = #808080
$d-gray = #333

$map-background = #CDD2D4

$positive = #A7DB7A
$warning = #EFAC56
$delete = $highlight

$border-primary = #C6D1DD
$border-primary-light = lighten($border-primary, 75%)
$border-secondary = lighten($secondary, 30%)
$border-btn = #95989A

$tableRadius = 5px
$table-border = 1px solid #DDD

$header-height = 70px + 2 // 2px border
$mobile-header-height = 50px

$footer-height = 100px
$mobile-footer-height = 65px

$link-color = darken($highlight, 5%)
$link-color-hover = $primary

$wide-ui-width = 2000px
$map-menu-width-small = 300px
$map-menu-width-large = 25%
$map-menu-width-max = 500px
$map-width-small = 'calc(100% - %s)' % $map-menu-width-small
$map-width-max = 'calc(100% - %s)' % $map-menu-width-max
$map-width-large = 100 - $map-menu-width-large
