template(name="dateSelector")
  .calendar-wrapper
    .date-picker-container.inlineRangePicker
    .date-options.centered
      button.btn.btn-sm.btn-success.apply-date-filters Apply
      if dateFiltering
        button.btn.btn-default.btn-sm.clear-date-filters Clear
