@import 'mapFilters.import'

.event-map-wrapper
  position absolute
  left 0
  right 0
  top $header-height
  bottom $footer-height
  background-color #B5D0D0
  margin auto
  background-color $map-background
  .leaflet-top,
  .leaflet-left
    z-index 90

#event-map
  full-width()

.leaflet-popup-content-wrapper
  border-radius 5px

.map-marker
  centerPosition()
  &:hover
    .map-marker-path
      transition .2s
      fill $secondary

.marker-color-spot
  margin-right 10px

@media (max-width: 768px)
  #event-map
    top $mobile-header-height
    bottom $mobile-footer-height
    .leaflet-control-attribution
      font-size 5px

@media (max-width: 320px)
  .leaflet-popup-content,
  .leaflet-popup-content-wrapper
    max-width 300px

.map-menu
  position absolute
  top 0
  bottom 0
  width 20%
  min-width 300px
  max-width 600px
  background rgba(255,255,255,.9)
  z-index 100

.map-event-list
  border 0

.map-event-list--item
  padding-right 2.5em
  border-left 0
  border-right 0
  background none
  cursor pointer
  .date
    display block
    font-style italic
    font-size 90%
  &.selected
    background $secondary-light
  &.selected .circle::before
  .circle
    position absolute
    top 50%
    transform translate(0, -50%)
    right 1em
    border-radius 50%
    height 1.5em
    width 1.5em
  &.selected
    .circle
      &::before
        left 50%
        transform translate(-50%, -50%)
        height .5em
        width .5em
        content ''
        background white
