@import 'mapFilters.import'

#event-map
  position absolute
  left 0
  right 0
  top $header-height
  bottom $footer-height
  background-color #B5D0D0
  margin auto
  background-color $map-background
  .leaflet-top,
  .leaflet-left
    z-index 90

.leaflet-popup-content-wrapper
  border-radius 5px

.map-marker
  centerPosition()
  &:hover
    .map-marker-path
      transition .2s
      fill $secondary

.marker-color-spot
  margin-right 10px

@media (max-width: 768px)
  #event-map
    top $mobile-header-height
    bottom $mobile-footer-height
    .leaflet-control-attribution
      font-size 5px

@media (max-width: 320px)
  .leaflet-popup-content,
  .leaflet-popup-content-wrapper
    max-width 300px

.map-legend-container.leaflet-control
  margin-bottom 0
  width 330px

.map-legend
  padding 10px 15px
  background rgba(255, 255, 255, 0.9)
  box-shadow 0 2px 5px rgba(0, 0, 0, 0.2)
  border-radius 0 5px 0 0
  border 1px solid $secondary
  border-bottom none

.map-legend-drawer
  max-height 500px
  overflow hidden
  transition .5s

.map-legend-drawer.closed
  max-height 0
  transition .5s

.map-legend-tab
  height 30px
  width 40px
  background-color $secondary
  color white
  box-shadow 0 0 15px rgba(0, 0, 0, 0.2)
  border-radius 5px 5px 0 0
  cursor pointer
