@import 'event-icons.import'

.event
  padding-left 50px
  padding-right 50px

.event-wrap
  margin-bottom 20px

.fact-sheet-wrap
  padding 20px 0 0 0
  background secondary-light
  padding-bottom 20px

.eventName
  padding-top 15px
  padding-bottom 10px

.eventNameSummary
  font-size 36px
  color highlight

.diseaseName
  font-size 20px
  color #345e7e
  padding-bottom 10px

.eventSummary
  padding-bottom 25px

.event-head
  h1
    margin-bottom 20px
  .minor
    font-size 20px
  h2
    margin 5px 0 5px 0
    color #666
    font-size 18px
  h3
    font-size 14px

.disease
  h3
    display inline-block
    margin 5px 5px 10px 0

.basic-info
  margin-left: 40px;
  margin-right: 40px;

.panel-heading
  h2
    color white
  background lightslategrey

.tables
  td:first-child
    width 40%
    border-right table-border
    padding-right 25px
    border-right 1px solid #DDD
  td
    position relative
  td:last-child
    padding-right 80px
  .panel-default
    border-top 3px solid secondary

.location-list-wrap

.location-list
  margin-bottom 5px

.main-facts
  margin 20px 0
  margin-bottom 40px
  border-top table-border
  &:last-of-type
    margin-bottom 0
  th, td
    width 33%
    text-align center
    border-right 0
  th:first-child, td:first-child
    text-align: left
  th:last-child, td:last-child
    text-align: right
  > thead > tr > th
    font-size 16px
    border-bottom table-border
    position relative
  th:last-child,
  td:last-child
    border-right 0
  &:after
    clearFix()
  .lrg
    font-size 18px
  .description
    font-size 13px

.references
  h2
    font-size 16px
    margin 0
    display inline-block
  .date
    margin 0

.ref-link
  span
    padding-right 5px
  &:hover
    text-decoration none

@import 'comments.import'

@media (max-width: 1200px)
  .main-facts
    &:last-of-type
      margin-bottom 30px

@media (max-width: 768px)
  .event-head
    h1
      font-size 20px
    .minor
      font-size 1.2em
      margin .3em 0
    h3
      font-size 1.1em

  table, thead, tbody, th, td, tr
    display block

  .event
    padding-left 50px
    padding-right 50px

  .event .table td:first-child,
  td:first-child
    width 100%

  thead tr
    position absolute
    top -9999px
    left -9999px

  tr
    border: 0

  td
    border none
    border-bottom 1px solid #eee
    position relative
    padding-left 50%

  .table-striped > tbody > tr:nth-child(odd) > td,
  .table-striped > tbody > tr:nth-child(odd) > th
    background none

  .tables td:first-child
    width 100%
    font-weight bold
    border-right 0
    background ll-gray !important

  .tables td:last-child
    border-top 0

  .tables .table:not(.not-founds) td:last-child
    margin-bottom 20px

  .main-facts
    border-top 0
    tr, td
      border 0 !important
    th, td, th:first-child, td:first-child, th:last-child, td:last-child
      width 100%
      text-align left
    td
      padding 0 0 3px 0 !important
      margin-bottom 20px
      &::before
        font-size 18px
        content attr(data-header)
        font-weight bold
        display block
        border-bottom table-border
        width 100%
        margin-bottom 15px

.abstract
  white-space pre-wrap

.shareLink input[type="text"]
  cursor text

.nav-tabs
  padding-left 50px
  border-bottom 2px solid primary
  > li
    margin-bottom 0
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus
    color white
    background-color primary
    border 1px solid primary
    font-weight bold
  > li > a
    background-color #F9F9F9
    color #95989A
    border 1px solid #F0F0F0
    border-bottom-color #F9F9F9
    width 200px
    text-align center
    font-size 18px
    margin-left 5px

.tab-form
  background-color primary-l-light
  padding 15px 50px
  border 1px solid lighten(m-gray, 70%)
  input.form-control,
  select.form-control,
  .input-group-addon
    border-color primary
  .table-filter .input-group-addon
    background-color white
    color primary
    &:before
      content "\f002"
      font-family FontAwesome

.tab-pane .col-md-6
  padding 0

.disease-separator
  border-top 1px solid #DDD
  margin 10px 0

.remove-row::before
  content "\f014"
  font-family FontAwesome

.open-row::before
  content "\f107"
  font-family FontAwesome
  
.details-row::before
  content "\f105"
  font-family FontAwesome

.open-row-right::before
  content "\f054"
  font-family FontAwesome

.details-open
  background-color secondary-light
  .open-row::before
    content "\f106"
    font-family FontAwesome

.reactive-table tr.tr-details
  cursor default

.tr-detail-container
  padding 0 50px
  ul
    margin-bottom 0

.select2-container
.select2-container + input
  width 100% !important

.annotation
  color red
  text-decoration underline
  cursor pointer
.annotation.accepted
  color green
.suggested-incidents
  width 800px
  .modal-body
    height 500px
    overflow-y scroll
.annotated-content
  white-space pre-wrap

.warn
  background-color yellow

td.col-md-6.countCell.countCellLeft.text-center
td.col-md-6.countCell.text-center
  float left
