.icon
  font-family icons

.font-awesome
  font-family FontAwesome
  -webkit-font-smoothing antialiased

.white-shadow
  text-shadow 1px 1px 0 rgba(255,255,255, .4)

.dark-shadow
  text-shadow 1px 1px 0 rgba(0,0,0, .2)

.content-block
  padding 50px 0
