template(name="about")
  .about
    .container-fluid.about-intro
      .container.content-block
        h1 EIDR Connect
        p.lead
          | EIDR Connect is a centralized web platform dedicated to tracking Emerging Infectious Diseases (EIDs).
          | Through EIDR Connect, ongoing EID events can be curated by experts.
          | EID events can be compared and individual emergence events can be explored in depth.

    .container-fluid.exploring-wrap
      .container.content-block
        h2.centered How can you explore disease emergence using EIDR Connect?
        p.lead.centered Emergence events can be sorted, compared, and investigated in a variety of ways.
        ul.row.exploring.list-unstyled
          li.col-xs-12.col-md-4.col-sm-6
            span.fa.fa-list
            h3 Emergence Events
            p You can explore emergence events using an interactive table of EID events found in the ‘Tracked Events’ view. The information displayed in this table is customizable, allowing you to choose which event information you want to view. You can perform specific searches within the table using a filter feature.
            a.btn.btn-default.btn-block(href="{{pathFor route='user-events'}}") View Tracked Events
          li.col-xs-12.col-md-4.col-sm-6
            span.fa.fa-info-circle
            h3 Event Pages
            p You can explore individual EID events in greater detail through event pages. These event pages can be accessed from the 'Tracked Events' list by clicking an event in the table. Links to articles that reference the event and locations that are related to the event can be found here.
          li.col-xs-12.col-md-4.col-sm-6
            span.fa.fa-globe
            h3 Event Map
            p The event map map provides a broad spatial depiction of all EID events within the EIDR Connect database. Zoom into a specific region or event of interest and click on the map pin to be directed to the Event Page for that event.
            a.btn.btn-default.btn-block(href="{{pathFor route='event-map'}}") View Event Map

    .container-fluid.funding
      .container.content-block
        p.centered Funding acknowledgements
        //p.centered EIDR was made possible by the generous support of the American people through the United States Agency for International Development (USAID) Emerging Pandemic Threats PREDICT, and through the support of the Defense Threat Reduction Agency (DTRA) through a contract (Contract No. HDTRA1-13-C-0029) awarded to EcoHealth Alliance. The contents are the responsibility of the authors and do not necessarily reflect the views of USAID, DTRA or the United States Government.
        //.row
          //.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4
            //.row
              //.col-xs-6
                //a(href="//www.dtra.mil/")
                  //img.img-responsive(src="/images/dtra_logo.png")
              //.col-xs-6
                //a(href="//www.usaid.gov/")
                  //img.img-responsive(src="/images/usaid_logo.png")
