template(name="admins")
  .container-fluid
    .container.content-block
      h3 Admins
      +each adminUsers
        +adminUser
      h3 Curators
      +each curatorUsers
        +adminUser
      h3 Users
      +each defaultUsers
        +adminUser

template(name="adminUser")
  p
    | {{name}} - {{email}}
    unless isCurrentUser
      .btn-group
        if isCurator
          button.btn.btn-primary.remove-curator
            i.fa.fa-check
            span Curator
        else
          button.btn.btn-default.make-curator
            i.fa.fa-plus
            span Curator
        if isAdmin
          button.btn.btn-primary.remove-admin
            i.fa.fa-check
            span Admin
        else
          button.btn.btn-default.make-admin
            i.fa.fa-plus
            span Admin
