template(name="articles")
  .panel.panel-default
    .panel-heading
      h2 Event Sources
    .row
      .col-md-6
        if articles.length
          .tab-form
            .row
              .col-lg-8
                +reactiveTableFilter id="sourceFilter" label=" " class="input-group table-filter"
              .col-lg-4.col-sm-12
                +sourceModalButton
          +reactiveTable collection=articles settings=getSettings

        else
          .col-lg-8
            p There are no articles currently associated with this event.
          .col-lg-4.col-sm-12
            +sourceModalButton
            button.btn.btn-primary.btn-block.open-source-form(type="button")
              i.fa.fa-plus-circle
              | Add Source
      .col-md-6.event-sources-detail
        if selectedSource
          h2= selectedSource.url
          .row.event-source-info
            .col-lg-1
              a.ref-link(href="{{selectedSource.url}}" target="_blank" rel="noopener noreferrer")
                i.fa.fa-external-link
            .col-lg-4 Published on {{formatDate selectedSource.publishDate}}
            .col-lg-7 Submitted by {{selectedSource.addedByUserName}} on {{formatDate selectedSource.addedDate}}
          .row.event-source-summary
            .col-lg-6
              h3 Locations
                ul
                  each locationsForSource selectedSource.url
                    li= this
                  else
                    li No locations
            .col-lg-6
              h3 Incident Reports
                ul
                  each incidentsForSource selectedSource.url
                    li {{incidentToText this}}
                  else
                    li No cases
        else
          h2 Please select the source on the left


template(name="article")
  li.list-group-item
    .row
      .col-sm-10
        a.ref-link(href="{{url}}" target="_blank" rel="noopener noreferrer") {{url}}
          i.fa.fa-external-link
        if publishDate
          p
            small {{publishDate}}
      .col-sm-2.col-xs-6
        if isInRole "admin"
          button.btn.btn-danger.btn-sm.btn-block.delete-article Delete

template(name="articleSelect2")
  select.article-select2.form-control.select2(id="{{selectId}}" name="{{selectId}}" multiple="{{multiple}}" required)
    unless multiple
      option(value="")
    each articles
      option(value="{{_id}}") {{url}}

template(name="sourceModalButton")
  if isInRole "admin"
    button.btn.btn-primary.btn-block.open-source-form(type="button")
      i.fa.fa-plus-circle
      | Add Source
