template(name="createEventModal")
  #create-event-modal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        form#createEvent(novalidate)
          +modalCloseButton
          .modal-header
            .modal-header--title
              h4 Create a New Event

          .modal-body
            .form-group
              label.control-label(for="eventName") Event Name
              input#eventName.form-control(type='text', name='eventName' required)
              .help-block.with-errors
            .form-group
              label Event Disease
              input.form-control(type="text" name="eventDisease" value=disease)
            .form-group
              label.control-label(for="eventSummary") Event Summary
              textarea#eventSummary.form-control(name='eventSummary', rows='15')
            .form-group
              .checkbox
                label
                  input(type="checkbox" value="1" name="promed")
                  | Display this event on promedmail.org
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
            button#add-event-btn.btn.btn-primary(type='submit') Create Event
