template(name="createAccount")
  .container-fluid
    .container.content-block
      h2 Create New Account
      form#add-account.space-top-2
        .form-group
          label Email
            input.form-control(type='text', name='email')
        .form-group
          label Name
            input.form-control(type='text', name='name')
        .form-group
          .checkbox
            label
              input(type="checkbox", name="admin")
              | Grant Admin Rights
        button.btn.btn-primary.space-top-2(type='submit') Add User
