template(name="curatorEvents")
  //h3 Suggested Events
  //+reactiveTable collection=userEvents settings=settings class="table curator-events-table" rowClass="curator-events-table-row"
  .row.curator-inbox-buttons
    .col-xs-12
      a.btn.btn-primary.open-add-event-form(href="")
        i.fa.fa-plus
        span Edit Associated Events
  if addEventMenuIsOpen
    table#associate-events.table.table-hover
      tbody
        each userEvents
          tr(class="{{#if associated}}details-open{{/if}}")
            td {{eventName}}
  if associatedUserEvents
    table#associated-events.table
      thead
        tr
          th.eventName Associated Events
      tbody
        each associatedUserEvents
          tr
            td {{eventName}}

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable collection="curatorEventIncidents" settings=settings
