template(name="curatorInbox")
  .container-fluid
    h1.curator-heading CURATOR INBOX
  section.container-fluid
    .row
      .col-sm-6.curator-inbox-articles
        .row.curator-inbox-header
          .pull-left
            h2 Sources
          .curator-inbox-options.pull-right.form-inline
            a.curator-filter-calendar-icon(class="{{#if calendarState}} active {{/if}}")
              i.fa.fa-calendar
            a.curator-filter-reviewed-icon(class="{{#if reviewedState}} active {{/if}}")
              i.fa.fa-check-circle
            .input-group
              input#curator-inbox-article-filter.map-search.form-control(type="text" placeholder="Filter by event name")
              i.fa.fa-search.search-icon
        .row.curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
          .text-center
            #date-picker.inlineRangePicker
          .text-center
            a#calendar-btn-apply.btn.btn-primary(href="") APPLY
            a#calendar-btn-reset.btn.btn-primary(href="") RESET
            a#calendar-btn-cancel.btn.btn-default(href="") CANCEL
        .row
          if isReady
            each day in days
              +curatorInboxSection date=day index=@index
          else
            .text-center
              br
              p Loading...
      .col-sm-6#curator-article-details
        .row.curator-inbox-header

template(name="curatorInboxSection")
  .col-xs-12.curator-inbox-section-head
    .pull-left
      b {{formattedDate}}
    .pull-right
      i.fa.fa-lg
        if isOpen
          i.fa.fa-chevron-circle-down
        else
          i.fa.fa-chevron-circle-left
  if isOpen
    +reactiveTable collection="recentEventArticles" settings=settings selector=selector class="table table-hover curator-inbox-table" rowClass="curator-inbox-table-row"

template(name="curatorArticleDetails")
  div(class="row curator-inbox-header curator-article-details-header {{#if article.reviewed}} reviewed {{/if}}")
    h2 {{article.url}}
    i.fa.fa-check-circle.reviewed-icon
  .curator-article-details-content
    .row
      .col-xs-12
        +curatorEvents
    .row.curator-inbox-buttons
      .col-xs-12.text-center
        a.mark-reviewed.btn.btn-primary(href="") Mark as reviewed
        a.mark-unreviewed.btn.btn-default(href="") Mark as unreviewed
