template(name="curatorSourceDetails")
  with post
    div(class="row curator-inbox-header curator-article-details-header {{#if reviewed}} reviewed {{/if}}")
      h2 {{source.name}}
      i.fa.fa-check-circle.reviewed-icon
    .curator-article-details-content
      h3 Articles
      .row
        .col-xs-12
          each article in articles
            +curatorArticle id=article._id article=article
      br
      .row
        .col-xs-12
          +curatorEvents
      br
      .row.curator-inbox-buttons
        .col-xs-12.text-center
          a#accept-article.btn.btn-primary(href="") ACCEPT SOURCE
          a#decline-article.btn.btn-default.disabled(href="") DECLINE

template(name="curatorArticle")
  .curator-details-articles
    .col-xs-12.curator-inbox-section-head
      .pull-left.open-icon
        i.fa.fa-lg
          if isOpen
            i.fa.fa-chevron-circle-down
          else
            i.fa.fa-chevron-circle-left
      p {{title}}
    if isOpen
      .col-xs-12
        {{article.content}}