template(name="curatorEvents")
  h3 Suggested Events
  +reactiveTable collection=userEvents settings=settings class="table curator-events-table" rowClass="curator-events-table-row"

template(name="curatorEventIncidents")
  //- if incidents.length
  td(colspan="2")
    .row
      .col-xs-12
        +reactiveTable collection=incidents settings=settings class="table table-hover curator-events-incidents-table" 
    
  //- else
    //- p No incident reports are associated with this event.
