template(name="curatorEvents")
  h3 Suggested Events
  +reactiveTable collection=userEvents settings=settings class="table curator-events-table" rowClass="curator-events-table-row"

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable collection="curatorEventIncidents" settings=settings