template(name="feeds")
  .feeds
    .container-fluid-padded.page-heading.container-flex
      h1 Feeds
      form.add-feed.container-flex(novalidate)
        .form-group
          input.form-control(name="feedUrl" placeholder="Enter new feed URL" required)
        button.btn.btn-primary
          i.fa.fa-plus-circle
          | Add Feed

    .container-fluid-padded
      if feeds.count
        ul.feeds--list.list-group.anchored-top
          each feeds
            li.list-group-item.container-flex
              span=url
              a.delete.flex-col.on-right.no-grow
                i.fa.fa-trash
