template(name="footer")
  footer
    .eha
      a.pull-left(href="http://ecohealthalliance.org")
    ul.contactInfo
      li 460 West 34th Street 17th Floor, New York, NY 10001-2320
      span.fa.fa-circle
      li 212.380.4460
      span.fa.fa-circle
      li
        a(href="mailto:eidr@ecohealthalliance.org") eidr@ecohealthalliance.org
