template(name="header")
  header
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target=".navbar-collapse") Menu
        a.navbar-brand(href="{{pathFor 'splash'}}")

      .collapse.navbar-collapse
        +navLinks

template(name="navLinks")
  ul.nav.navbar-nav
    //- TODO: Replace with curator role
    if isCurator
      li(class="{{checkActive 'curator-inbox'}}")
        a(href="{{pathFor 'curator-inbox'}}") Inbox

    li(class="{{checkActive 'user-events'}}")
      a(href="{{pathFor 'user-events'}}") Tracked Events
    li(class="{{checkActive 'event-map'}}")
      a(href="{{pathFor 'event-map'}}") Event Map

    unless currentUser
      li(class="{{checkActive 'sign-in'}}")
        a.withIcon(href="/sign-in" title="Sign In")
          span.link-text-nav Sign In
          span.fa.fa-sign-in.show-large

    if isInRole "admin"
      li.dropdown
        a.dropdown-toggle-nav(id="admins-menu" href="#" role="button" data-toggle="dropdown")
          span Settings
          span
            i.fa.fa-cog
            i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-right.nav-dd
          li
            a(href="{{pathFor 'feeds'}}")
              span.fa.fa-rss
              span Feeds
          li
            a(href="{{pathFor 'admins'}}")
              span.fa.fa-user
              span Manage User Accounts
          li
            a#logOut.withIcon(href="" title="Sign Out")
              span.fa.fa-sign-out
              span.link-text-nav Sign Out
