template(name="incidentReports")
  .panel.panel-default
    .panel-heading
      h3 Incident Reports
    .panel-body.comments-container
      if currentUser
        .comment-form
          form#add-count.form-horizontal(novalidate)
            .form-group
              label.col-lg-3.control-label Article URL
              .col-lg-9
                +articleSelect2 selectId="countArticles" articles=articles
            .form-group
              label.col-lg-3.control-label Date
              .col-lg-9
                input.form-control.datePicker(type="text" name="date" data-DateTimePicker)
            .form-group
              label.col-lg-3.control-label Location
              .col-lg-9
                +locationSelect2 selectId="count-location-select2" multiple="true"
            .form-group
              label.col-lg-3.control-label Incident Type
              .col-lg-9
                select.form-control(name="incidentType" required)
                  option(value="")
                  option(value="cases") Case Count
                  option(value="deaths") Death Count
                  option(value="other") Other
            .form-group
              if showCountForm
                label.col-lg-3.control-label Count
                .col-lg-9
                  input.form-control(name="count" type="number" min="0" required)
              if showOtherForm
                label.col-lg-3.control-label Specify Other
                .col-lg-9
                  input.form-control(name="other" type="text" required)
            .form-group
              .col-lg-4.col-lg-offset-8.col-sm-12
                button.btn.btn-primary.btn-block(type="submit") Add Report
    if counts.length
      ul.list-group
        each counts
          +incidentReport
    else
      p No incident reports are associated with this event.

template(name="incidentReport")
  li.list-group-item
    .form-horizontal
      .row
        .col-sm-10
          each val in url
            p
              a.ref-link(href="{{val}}" target="_blank") {{val}}
          if date
            p
              small {{date}}
        .col-sm-2.col-xs-6
          if currentUser
            button.btn.btn-danger.btn-sm.btn-block.delete-count Delete
      .row
        .col-sm-2.control-label Location:
        .col-sm-10
          p.form-control-static
            if locations.length
              ul
                each locations
                  li {{formatLocation(this)}}
            else
              | No location specified.
      .row
        if cases
          +incidentDetails label="Cases" value=cases
        if deaths
          +incidentDetails label="Deaths" value=deaths
        if specify
          +incidentDetails label="Other" value=specify

template(name="incidentDetails")
  .col-sm-2.control-label {{label}}:
  .col-sm-10
    p.form-control-static {{value}}
