template(name="mapFilters")
  .container.map-search-wrap
    .mobile-control
      span Filters
    .map-filter-content
      .search-wrap
        .input-group
          span.input-group-addon
            i.fa.fa-filter
          input.map-search.form-control(type="text" placeholder="Filter by event name")
          if getSearchText
            span.clear-search
              i.fa.fa-times-circle
      .toggles
        .filter
          h2 Filters
        .filters-wrap.hidden
          each getVariables
            .filter-block(data-filter="{{filter}}")
              .form-group
                .checkbox
                  label
                    input(type="checkbox" value="{{label}}" checked="{{state}}")
                    | {{label}}
              if dateFilter
                .filter-attributes
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="on" checked="{{searchMatch 'on' values.searchType}}")
                        | On
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="before" checked="{{searchMatch 'before' values.searchType}}")
                        | Before
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="after" checked="{{searchMatch 'after' values.searchType}}")
                        | After
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="between" checked="{{searchMatch 'between' values.searchType}}")
                        | Between
                  +dateSelector currentDate=getCurrentDate

                  if searchMatch "between" values.searchType
                    .form-group.text-center and
                    +dateSelector currentDate=getCurrentDate

template(name="dateSelector")
  .form-group.date-picker-container
    input.form-control.datePicker(type="text")