template(name="mapFilters")
  .container.map-search-wrap
    .mobile-control
      span Filters
    .map-filter-content
      .search-wrap
        .input-group
          span.input-group-addon
            i.fa.fa-filter
          input.map-search.form-control(type="text" placeholder="Filter by event name")
          if getSearchText
            span.clear-search
              i.fa.fa-times-circle
      .toggles
        .filter
          h2 Filters
        .filters-wrap.hidden
          each getVariables
            .filter-block
              .form-group
                .checkbox
                  label
                    input(class="{{class}}" type="checkbox" value="{{value}}" checked="#{state}")
                    | {{value}}
              if showDateAttributes
                .filter-attributes
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="on" checked="true")
                        | On
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="before")
                        | Before
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="after")
                        | After
                  .form-group
                    .radio
                      label
                        input(type="radio" name="incidentDateType" value="between")
                        | Between
                  .form-group
                    input.form-control.datePicker(type="text")
