template(name="sourceModal")
  .modal.fade#sourceModal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title
            if edit
              | Edit Event Source
            else
              | Add Event Source
          +modalCloseButton
        .modal-body
          form#add-source.form-horizontal(novalidate)
            .form-group
              .col-md-12
                label.control-label Title
                input#title.form-control.new-title(type="text" name="title" value="{{title}}" required)
            .form-group
              .col-md-12
                label.control-label Article URL
                if edit
                  p.form-control-static {{url}}
                else
                  input#article.form-control.new-article(type="url" name="article" required)
            if suggestedArticles
              .form-group
                .col-md-12
                  label.control-label Suggested Articles
                  ul#suggested-articles
                    each suggestedArticles
                      li
                        a(href=url) {{subject}}
            .form-group
              .col-md-12
                label.control-label Publication Date
                #publishDate.datePicker
            .form-group
              .col-md-6
                .input-group
                  span.input-group-addon
                    i.fa.fa-clock-o
                  input#publishTime.timePicker.form-control(type="text" name="publishTime" placeholder="Time")
              .col-md-6
                .input-group
                  span.input-group-addon
                    i.fa.fa-globe
                  select#publishDateTZ.form-control(name="publishDateTZ")
                    each timezones
                      option(value=name selected=selected) {{name}} (GMT{{offset}})
            unless edit
              .form-group
                .col-lg-12
                  .checkbox
                    label
                      input(type="checkbox" value="1" name="enhance" checked)
                      | Suggest incident reports
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary(type="button" class=saveButtonClass) Save
