template(name="sourceModal")
  #event-source.modal.modal-skinny.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title
            if edit
              | Edit Event Source
            else
              | Add Event Source
          +modalCloseButton
        .modal-body
          form#add-source(novalidate)
            .form-group
              label.control-label Title
              input#title.form-control.new-title(type="text" name="title" value="{{title}}" required)
            .form-group
              label.control-label Article URL
              if edit
                p.form-control-static {{url}}
              else
                input#article.form-control.new-article(type="url" name="article" required)
            if suggestedArticles
              .form-group
                label.control-label Suggested Articles
                #suggested-articles.modal-block.full-width
                  if loadingArticles
                    .loading.small
                  else
                    ul.list-unstyled
                      each suggestedArticles
                        li(class="{{#if articleSelected}} active {{/if}}")= subject
            .form-group
              label.control-label Publication Date
              .modal-block.full-width
                #publishDate.datePicker.inlineRangePicker
                .clearfix.time
                  .col-sm-6
                    .input-group
                      span.input-group-addon
                        i.fa.fa-clock-o
                      input#publishTime.timePicker.form-control(type="text" name="publishTime" placeholder="Time")
                  .col-sm-6
                    .input-group.with-select
                      span.input-group-addon
                        i.fa.fa-globe
                      select#publishDateTZ.form-control(name="publishDateTZ")
                        each timezones
                          option(value=name selected=selected) {{name}} (GMT{{offset}})
            unless edit
              .form-group
                .checkbox
                  label
                    input(type="checkbox" value="1" name="enhance" checked)
                    | Suggest incident reports
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary(type="button" class=saveButtonClass) Save
