template(name="splash")
  .about
    .container-fluid.about-intro
      .container.content-block
        h1 EIDR Connect
        p.lead
          | EIDR Connect is a centralized web platform dedicated to tracking Emerging Infectious Diseases (EIDs).
          | Through EIDR Connect, ongoing EID events can be curated by experts.
          | EID events can be compared and individual emergence events can be explored in depth.
    .container-flex.central.no-break
      a.btn.btn-primary.btn-action.btn-spacious(
        href="{{pathFor 'user-events'}}"
        role="button") View Tracked Events
