template(name="suggestedIncidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Edit and Confirm Incident Report
        .modal-body
          +incidentForm
        .modal-footer
          button.btn.secondary-btn.reject(type="button" data-dismiss="modal") Reject
          button.btn.main-btn.save-modal(type="button") Confirm
