template(name="userEvents")
  .container-fluid-padded.page-heading.container-flex
    h1 Tracked Events
    .page-options.container-flex
      if isInRole "admin"
        a.btn.btn-primary(href="{{pathFor 'create-event'}}") Create New Event
      +reactiveTableFilter id="eventFilter" label=" " class="event-search with-icon no-addon page-options--search"
  .featured-table
    +reactiveTable collection="userEvents" settings=settings
