.leaflet-popup-content-wrapper
  border-radius 3px
  overflow hidden

.leaflet-popup-content
.leaflet-popup-content-wrapper
  margin 0
  +below(2)
    max-width 300px

.leaflet-popup-content-wrapper
  padding 0
  background none
  box-shadow 0 3px 14px darken(rgba(205, 210, 212, .5), 40%)

.leaflet-popup-tip
  background alpha(white, 92%)

.popup
  h4
    color $primary
    margin 0
  ul
    padding 1em 1.25em
    margin-bottom 0
    background alpha(white, 92%)
  li
    margin-bottom .75em
  a
    flex 1
    color $secondary-dark
    &:hover
      color $primary

.popup--title
  padding 1em
  background alpha($border-primary-light, 92%)
  border-bottom 1px solid $border-primary

.popup--event-title
  margin-bottom .2em

.popup--incidents-text
  color $m-gray
  font-size .9em

.popup--incidents-text--label
  margin-right 2px

.popup--tittle--marker-color-spot
  margin-right 10px
  height 20px
  width 20px
