.delete-confirmation
.cancel-confirmation
  text-align center
  padding-top 2em
  padding-bottom 3.5em
  p
    &:first-of-type
      margin .5em 0 .2em 0
      font-size 125%
    &:last-of-type
      font-style italic
      margin-bottom 2em
  i
    color lighten($delete, 20%)
    font-size 5em
  .other-actions
    margin-top 1em
    .btn:first-of-type
      margin-right .5em
    .btn:last-of-type
      margin-right 0

.cancel-confirmation
  i
    color lighten($warning, 20%)
