$modal-border-radius = 4px
$modal-side-padding = 20px
$modal-transition-time = .35s
$modal-transition-time-opacity = .25s

.modal
  &[class*="off-canvas"]
  &.transitioned
    transition transform $modal-transition-time ease-in-out, opacity $modal-transition-time-opacity ease-in-out
    opacity 1
  &.off-canvas--left
    transform translate(-100%, 0)
  &.off-canvas--right
    transform translate(100%, 0)
  &.off-canvas--top
    transform translate(0, -100%)
  &[class*="off-canvas"]
    &.in
      transform translate(0, 0)
    &.out
      opacity 0

.modal-skinny
  .modal-dialog
    +above(3)
      max-width 550px

.modal-content
  border-radius $modal-border-radius

.modal-body
  padding 10px $modal-side-padding
  .full-width
    margin-left $modal-side-padding * -1
    margin-right $modal-side-padding * -1


.modal-header
  padding 0
  border-top-left-radius $modal-border-radius
  border-top-right-radius $modal-border-radius
  overflow hidden
  background white
  .close
    padding 5px

.modal-header--title
  padding 1.25em 40px 1em 25px
  h4
    margin 0
    font-weight 300
    font-size 2em
    color $primary-dark
    text-transform uppercase
  .warning
    margin-top .5em
    margin-bottom 0
    color darken($warning, 20%)

.modal-header
.modal-footer
  border-color $border-primary

.modal-footer
  white-space nowrap
  padding-top 1.25em
  padding-bottom 2em
  .btn
    &
    & + .btn
      width 100%
      display block
      margin-bottom 1em
      margin-left 0
      +above(2)
        display inline-block
        margin-bottom 0
        width auto
        margin-left .5em
    &:last-of-type
      margin-bottom 0

.modal-block
  padding-top 1em
  padding-bottom .5em
  background $block-BG
  border-bottom 1px solid $border-primary
  border-top 1px solid $border-primary
  &.full-width
    margin-left -20px
    margin-right -20px

.small-text
  font-size .5em
  display inline

.close-modal
  position absolute
  right 1em
  top .75em
  cursor pointer
  color $m-gray
  padding .25em
  &:hover
    color $secondary-dark
  &::before
    font-family FontAwesome
    content '\f057' // fa-times-circle
    font-size 1.65em

label
.form-group label
  &.featured
    padding .5em 20px
    display block
    margin-top -11px
    margin-bottom 0
    background $border-primary-light
    border-top 1px solid $border-primary
