template(name="addIncidentReport")
  if isInRole "admin"
    button.btn.btn-primary(type="button" class="open-incident-form#{class}")
      i.fa.fa-plus-circle(aria-hidden="true")
      span Add Incident Report
