template(name="annotationOptions")
  ul.annotation-options.list-unstyled
    if incidentAccepted
      li.select.fa(
        class="fa-{{#if incidentSelected}}circle selected{{else}}circle-o{{/if}}"
        title="Select")
    li.edit.fa.fa-pencil(title="Edit")
    if incidentAccepted
      li.delete.fa.fa-trash(title="Delete")
