template(name="newIncidentFromSelection")
  .new-incident-from-selection(
    style="left: #{leftPosition}px; top: #{topPosition}px; bottom: #{bottomPosition}px")
    button.btn.btn-success.add-incident-from-selection Add Incident
