template(name="suggestedIncidentModal")
  .modal.fade#suggestedIncidentModal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4 Edit and Confirm Incident Report
        .modal-body
          .well.annotated-content.snippet=incidentText
          +incidentForm(
            articles=articles
            incident=incident
            edit=true)
        .modal-footer
          button.btn.btn-default.reject(type="button" data-dismiss="modal") Reject
          button.btn.btn-primary.save-modal(type="button") Confirm
