template(name="cancelConfirmationModal")
  .modal.fade#cancelConfirmationModal(role="dialog" data-keyboard="false" data-backdrop="static")
    .modal-dialog
      .modal-content
        form#delete-obj
          .close-modal(data-dismiss="modal" aria-label="Close")
          .modal-header
            h4.modal-title Confirm Cancel
          .modal-body.clearfix
            +cancelConfirmationModalBody data
