template(name="cancelConfirmationModalBody")
  .cancel-confirmation
    i.fa.fa-exclamation-triangle(aria-hidden="true")
    p Are you sure you want to abandon your changes?
    p=displayName
    .main-action
      button.btn.btn-warning.btn-wide.confirm(type="button") Abandon
    .other-actions
      button.btn.btn-default.btn-sm(type="button" data-dismiss="modal") Go back
