template(name="userEvent")
  .event
    section.event--basic-info.container-fluid-padded
      with userEvent
        +summary

    section.event--detailed-info
      if incidents.length
        .tabs-wrapper
          ul.tabs.primary-tabs.container-fluid-padded(role="tablist")
            li(class="{{#if incidentView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='incidents'}}") Incident Reports
            li(class="{{#if locationView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='locations'}}") Locations

        .tab-content
          .tab-pane.active(role="tabpanel")
            +Template.dynamic template=view data=templateData

    if articles.length
      section.event--articles
        +articles
